<div class="dash-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <main class="content-wrapper-section">
    <div class="container-fluid">
      <div class="row" style="position: relative">
          <ngx-spinner bdColor = "rgb(219,241,220)"
                       size = "large"
                       color = "#033603"
                       type = "ball-pulse"
                       [fullScreen] = "false">
            <p style="color: white" > Loading... </p>
          </ngx-spinner>
        <div class="col-12">
          <div class="profile-section-main">
            <div class="profile-section-imgs" style="background: url('assets/images/background-profile-dark.jpg'); background-position: center bottom; background-repeat: no-repeat; background-size: cover;"></div>
            <div class="profile-section-btm">
              <img src="{{company_logo}}" alt="" />
              <div class="profile-section-btm-text">
                <h4>{{firstname}} {{lastname}}</h4>
              </div>
            </div>
            <div class="profile-section-btns profile-edit">
              <a routerLink="/edit-profile">
                <img src="assets/images/icon/pro-edit-icon.svg" class="mr-1" />
                <span>Edit Profile</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="profile-section-main-inner">
            <div class="profile-section-main-inner-hdr">
              <h2>Profile Details</h2>
            </div>
            <div class="profile-section-main-inner-body py-3">
              <div class="row m-0">
                <div class="col-md-4 form-group" *ngIf="firstname">
                  <label class="dash-label">First Name : {{firstname}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="lastname">
                  <label class="dash-label">Last Name : {{lastname}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="username">
                  <label class="dash-label">Username : {{username}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="email">
                  <label class="dash-label">Email : {{email}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="mobile">
                  <label class="dash-label">Mobile No : {{mobile}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="phone">
                  <label class="dash-label">Phone No : {{phone}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="birth_date">
                  <label class="dash-label">Birth Date : {{birth_date | date}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="anniversary_date">
                  <label class="dash-label">Anniversary Date : {{anniversary_date | date}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="company_name">
                  <label class="dash-label">Company Name : {{company_name}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="designation">
                  <label class="dash-label">Designation : {{designation}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="business_type">
                  <label class="dash-label">Business Type : {{business_type}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="address">
                  <label class="dash-label">Address : {{address}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="country">
                  <label class="dash-label">Country : {{country}}</label>
                </div>
                <div class=" col-md-4 form-group" *ngIf="state">
                  <label class="dash-label">State : {{state}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="city">
                  <label class="dash-label">City : {{city}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="zipcode">
                  <label class="dash-label">Zip Code : {{zipcode}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="fax">
                  <label class="dash-label">Fax : {{fax}}</label>
                </div>
                <div class="col-md-4 form-group" *ngIf="any_reference">
                  <label class="dash-label">Any Reference : {{any_reference}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay toggle-icon-main"></div>
  </main>
</div>
