<div class="sidebar-main-section">
  <div class="brand-title">
    <a routerLink="/dashboard">
      <img src="assets/images/logo/logo-kukadia.svg" class="logo-hdr-hide" alt="">
      <img src="assets/images/k-logo-hdr.svg" class="k-logo-hdr-show" alt="">
    </a>
    <div class="toggle-icon-main">
      <img src="assets/images/icon/toggle-icon.svg" class="left-arrow-toggle" alt="">
      <img src="assets/images/icon/toggle-icon.svg" class="right-arrow-toggle" alt="">
    </div>
  </div>
  <div class="sidebar-main-section-inner">
    <ul class="sidebar-main-inner-menu">
      <li routerLinkActive="active">
        <a routerLink="/dashboard" routerLinkActive="active">
          <img src="assets/images/icon/dash-sidebar-icon-1.svg" alt="">
          <span>Dashboard</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/diamonds" routerLinkActive="active">
          <img src="assets/images/icon/dash-sidebar-icon-2.svg" alt="">
          <span>Diamonds</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/buy-requests" routerLinkActive="active">
          <img src="assets/images/icon/dash-sidebar-icon-5.svg" alt="">
          <span>Requests</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/orders" routerLinkActive="active">
          <img src="assets/images/icon/order-icon.svg" alt="">
          <span>Orders</span>
        </a>
      </li>
      <!--      <li routerLinkActive="active">-->
      <!--        <a routerLink="/jewelry" routerLinkActive="active">-->
      <!--          <img src="assets/images/icon/dash-sidebar-icon-3.svg" alt="">-->
      <!--          <span>Jewelry</span>-->
      <!--        </a>-->
      <!--      </li>-->
      <!--      <li routerLinkActive="active">-->
      <!--        <a routerLink="/report-center" routerLinkActive="active">-->
      <!--          <img src="assets/images/icon/dash-sidebar-icon-6.svg" alt="">-->
      <!--          <span>Report Center</span>-->
      <!--        </a>-->
      <!--      </li>-->
      <!--      <li routerLinkActive="active">-->
      <!--        <a routerLink="/people" routerLinkActive="active">-->
      <!--          <img src="assets/images/icon/dash-sidebar-icon-7.svg" alt="">-->
      <!--          <span>People</span>-->
      <!--        </a>-->
      <!--      </li>-->
      <li routerLinkActive="active">
        <a routerLink="/news" routerLinkActive="active">
          <img src="assets/images/icon/dash-sidebar-icon-8.svg" alt="">
          <span>News</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/support" routerLinkActive="active">
          <img src="assets/images/icon/dash-sidebar-icon-9.svg" alt="">
          <span>Support</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/profile" routerLinkActive="active">
          <img src="assets/images/icon/profile-icon.svg" alt="">
          <span>Profile</span>
        </a>
      </li>
      <!--      <li routerLinkActive="active">-->
      <!--        <a routerLink="/instant-inventory" routerLinkActive="active">-->
      <!--          <img src="assets/images/icon/dash-sidebar-icon-10.svg" alt="">-->
      <!--          <span>Instant Inventory</span>-->
      <!--        </a>-->
      <!--      </li>-->
      <!--      <li routerLinkActive="active">-->
      <!--        <a routerLink="/add-ons" routerLinkActive="active">-->
      <!--          <img src="assets/images/icon/dash-sidebar-icon-11.svg" alt="">-->
      <!--          <span>Add-ons</span>-->
      <!--        </a>-->
      <!--      </li>-->
    </ul>
  </div>
</div>
