<div class="container-fluid front-section">
  <app-front-header></app-front-header>
  <div class="row row-space-class">
    <div class="col-12 p-0">
      <div class="comn-hdr-bg-top text-center">
        <h1>About</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="index.php">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kukadia Achivements</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row inr-row-space">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <div class="timeline-tabs-custom">
            <ul class="nav flex-column nav-pills" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-2019-tab" data-toggle="pill" href="#pills-2019" role="tab" aria-controls="pills-2019" aria-selected="true"><span></span> 2019</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-2018-tab" data-toggle="pill" href="#pills-2018" role="tab" aria-controls="pills-2018" aria-selected="false"><span></span> 2018</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-2017-tab" data-toggle="pill" href="#pills-2017" role="tab" aria-controls="pills-2017" aria-selected="false"><span></span> 2017</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-2016-tab" data-toggle="pill" href="#pills-2016" role="tab" aria-controls="pills-2016" aria-selected="false"><span></span> 2016</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-2015-tab" data-toggle="pill" href="#pills-2015" role="tab" aria-controls="pills-2015" aria-selected="false"><span></span> 2015</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-2014-tab" data-toggle="pill" href="#pills-2014" role="tab" aria-controls="pills-2014" aria-selected="false"><span></span> 2014</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-10">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-2019" role="tabpanel" aria-labelledby="pills-2019-tab">
              <div class="row align-items-center mb-3">
                <div class="col-lg-4">
                  <div class="timeline-left timeline-left-shap">
                    <img src="assets/images/luxury-jewelry-diamond-rings.png" alt="" />
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="timeline-right-text pl-lg-4">
                    <h2>Lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non odio a justo eleifend placerat eu in ante. Nunc nec dapibus sem. Suspendisse quis magna et sapien interdum ullamcorper.</p>
                  </div>
                </div>
              </div>
              <div class="row align-items-center mb-3">
                <div class="col-lg-8 order-1 order-lg-0">
                  <div class="timeline-right-text pr-lg-4">
                    <h2>Lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non odio a justo eleifend placerat eu in ante. Nunc nec dapibus sem. Suspendisse quis magna et sapien interdum ullamcorper.</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="timeline-left timeline-right-shap">
                    <img src="assets/images/luxury-jewelry-diamond-rings2.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="row align-items-center mb-3">
                <div class="col-lg-4">
                  <div class="timeline-left timeline-left-shap">
                    <img src="assets/images/luxury-jewelry-diamond-rings.png" alt="" />
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="timeline-right-text pl-lg-4">
                    <h2>Lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non odio a justo eleifend placerat eu in ante. Nunc nec dapibus sem. Suspendisse quis magna et sapien interdum ullamcorper.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-2018" role="tabpanel" aria-labelledby="pills-2018-tab">
              <div class="row align-items-center mb-3">
                <div class="col-12 text-center">
                  2
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-2017" role="tabpanel" aria-labelledby="pills-2017-tab">
              <div class="row align-items-center mb-3">
                <div class="col-12 text-center">
                  3
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-2016" role="tabpanel" aria-labelledby="pills-2016-tab">
              <div class="row align-items-center mb-3">
                <div class="col-12 text-center">
                  4
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-2015" role="tabpanel" aria-labelledby="pills-2015-tab">
              <div class="row align-items-center mb-3">
                <div class="col-12 text-center">
                  5
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-2014" role="tabpanel" aria-labelledby="pills-2014-tab">
              <div class="row align-items-center mb-3">
                <div class="col-12 text-center">
                  6
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-front-footer></app-front-footer>
</div>
