<div class="dash-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <main class="content-wrapper-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="inr-title-comn d-sm-flex align-items-center">
            <h3>Report Center</h3>
            <div class="sprt-menu-top mx-auto cust-tabs-inr">
              <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="pills-All-Requests-tab" data-toggle="pill" href="#pills-All-Requests" role="tab" aria-controls="pills-All-Requests" aria-selected="true">All Requests</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pills-My-Requests-tab" data-toggle="pill" href="#pills-My-Requests" role="tab" aria-controls="pills-My-Requests" aria-selected="false">
                    My Requests
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pills-Add-Requests-tab" data-toggle="pill" href="#pills-Add-Requests" role="tab" aria-controls="pills-Add-Requests" aria-selected="false">
                    Add Requests
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="dash-box-white">
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-All-Requests" role="tabpanel" aria-labelledby="pills-All-Requests-tab">
                <div class="comn-white-box-table">
                  <table id="report-list" class="display">
                    <thead>
                    <div class="table-filter-div">
                      <div class="table-filter-btn-main ml-sm-4 ml-1">
                        <button type="button" class="table-filter-btn filter-Btn">
                          <img src="assets/images/icon/filter.svg" alt="" />
                        </button>
                      </div>
                    </div>
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Size</th>
                      <th>Date Submitted</th>
                      <th>Status</th>
                      <th>Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Diamond</td>
                      <td>French Blue</td>
                      <td>1.2-2.5</td>
                      <td>Sep 04, 2020</td>
                      <td>In Progress</td>
                      <td>
                        <a href="">www.Striliant.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Diamond</td>
                      <td>French Blue</td>
                      <td>1.2-2.5</td>
                      <td>Sep 04, 2020</td>
                      <td>In Progress</td>
                      <td>
                        <a href="">www.Striliant.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Diamond</td>
                      <td>French Blue</td>
                      <td>1.2-2.5</td>
                      <td>Sep 04, 2020</td>
                      <td>In Progress</td>
                      <td>
                        <a href="">www.Striliant.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Diamond</td>
                      <td>French Blue</td>
                      <td>1.2-2.5</td>
                      <td>Sep 04, 2020</td>
                      <td>In Progress</td>
                      <td>
                        <a href="">www.Striliant.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Diamond</td>
                      <td>French Blue</td>
                      <td>1.2-2.5</td>
                      <td>Sep 04, 2020</td>
                      <td>In Progress</td>
                      <td>
                        <a href="">www.Striliant.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Diamond</td>
                      <td>French Blue</td>
                      <td>1.2-2.5</td>
                      <td>Sep 04, 2020</td>
                      <td>In Progress</td>
                      <td>
                        <a href="">www.Striliant.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Diamond</td>
                      <td>French Blue</td>
                      <td>1.2-2.5</td>
                      <td>Sep 04, 2020</td>
                      <td>In Progress</td>
                      <td>
                        <a href="">www.Striliant.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Diamond</td>
                      <td>French Blue</td>
                      <td>1.2-2.5</td>
                      <td>Sep 04, 2020</td>
                      <td>In Progress</td>
                      <td>
                        <a href="">www.Striliant.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Diamond</td>
                      <td>French Blue</td>
                      <td>1.2-2.5</td>
                      <td>Sep 04, 2020</td>
                      <td>In Progress</td>
                      <td>
                        <a href="">www.Striliant.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Diamond</td>
                      <td>French Blue</td>
                      <td>1.2-2.5</td>
                      <td>Sep 04, 2020</td>
                      <td>In Progress</td>
                      <td>
                        <a href="">www.Striliant.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Diamond</td>
                      <td>French Blue</td>
                      <td>1.2-2.5</td>
                      <td>Sep 04, 2020</td>
                      <td>In Progress</td>
                      <td>
                        <a href="">www.Striliant.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Diamond</td>
                      <td>French Blue</td>
                      <td>1.2-2.5</td>
                      <td>Sep 04, 2020</td>
                      <td>In Progress</td>
                      <td>
                        <a href="">www.Striliant.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Diamond</td>
                      <td>French Blue</td>
                      <td>1.2-2.5</td>
                      <td>Sep 04, 2020</td>
                      <td>In Progress</td>
                      <td>
                        <a href="">www.Striliant.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Diamond</td>
                      <td>French Blue</td>
                      <td>1.2-2.5</td>
                      <td>Sep 04, 2020</td>
                      <td>In Progress</td>
                      <td>
                        <a href="">www.Striliant.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Diamond</td>
                      <td>French Blue</td>
                      <td>1.2-2.5</td>
                      <td>Sep 04, 2020</td>
                      <td>In Progress</td>
                      <td>
                        <a href="">www.Striliant.com</a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-My-Requests" role="tabpanel" aria-labelledby="pills-My-Requests-tab">
                2
              </div>
              <div class="tab-pane fade" id="pills-Add-Requests" role="tabpanel" aria-labelledby="pills-Add-Requests-tab">
                3
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay toggle-icon-main"></div>
  </main>

  <div class="filter-src-main">
    <div class="filter-src-heading">
      <h5>All Filters</h5>
      <a href="">Reset</a>
      <div class="filter-src-close">
        <img src="assets/images/icon/close-icon.svg" alt="" />
      </div>
    </div>
    <div class="filter-src-inner">
      <div class="form-group filter-src-row">
        <label>By Type</label>
        <div class="filter-check-new">
          <ul>
            <li>
              <div class="cust-checkbox-new">
                <label class="cust-chk-bx">
                  <input type="checkbox">
                  <span class="cust-chkmark"></span>
                  Positioning
                </label>
              </div>
            </li>
            <li>
              <div class="cust-checkbox-new">
                <label class="cust-chk-bx">
                  <input type="checkbox">
                  <span class="cust-chkmark"></span>
                  Search Results
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="form-group filter-src-row">
        <label>By Status</label>
        <div class="filter-check-new">
          <ul>
            <li>
              <div class="cust-checkbox-new">
                <label class="cust-chk-bx">
                  <input type="checkbox">
                  <span class="cust-chkmark"></span>
                  New
                </label>
              </div>
            </li>
            <li>
              <div class="cust-checkbox-new">
                <label class="cust-chk-bx">
                  <input type="checkbox">
                  <span class="cust-chkmark"></span>
                  Completed
                </label>
              </div>
            </li>
            <li>
              <div class="cust-checkbox-new">
                <label class="cust-chk-bx">
                  <input type="checkbox">
                  <span class="cust-chkmark"></span>
                  Requested
                </label>
              </div>
            </li>
            <li>
              <div class="cust-checkbox-new">
                <label class="cust-chk-bx">
                  <input type="checkbox">
                  <span class="cust-chkmark"></span>
                  In Progress
                </label>
              </div>
            </li>
            <li>
              <div class="cust-checkbox-new">
                <label class="cust-chk-bx">
                  <input type="checkbox">
                  <span class="cust-chkmark"></span>
                  Failed
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="filter-footer-fix row m-0">
      <div class="col p-0">
        <button type="submit" class="main-cl-button">Apply</button>
      </div>
    </div>
  </div>
</div>
