<div class="dash-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <main class="content-wrapper-section">
    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-12">
          <div class="comn-white-box-table">
            <table datatable [dtOptions]='dtOptions' class="display">
              <thead>
              <tr>
                <th>
                  <div class="cust-checkbox-new">
                    <label class="cust-chk-bx">
                      <input type="checkbox" />
                      <span class="cust-chkmark"></span>
                    </label>
                  </div>
                </th>
                <th>ID#</th>
                <th>Stock#</th>
                <th>Date</th>
                <th>Price $/CT</th>
                <th>Case $/CT</th>
                <th>Shape</th>
                <th>Size</th>
                <th>Color</th>
                <th>Clarity</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody *ngIf="searchlist?.length>0">
              <tr *ngFor="let item of searchlist">
                <td>
                  <div class="cust-checkbox-new">
                    <label class="cust-chk-bx">
                      <input type="checkbox"/>
                      <span class="cust-chkmark"></span>
                    </label>
                  </div>
                </td>
                <td>{{item.diamond_id}}</td>
                <td>{{item.stock_number}}</td>
                <td>{{item.created_at | date}}</td>
                <td>{{item.asking_price}} {{item.asking_price_unit}}</td>
                <td>{{item.cash_price}} {{item.cash_price_unit}}</td>
                <td>{{item.shape}}</td>
                <td>{{item.size}}</td>
                <td>{{item.color}}</td>
                <td>{{item.clarity}}</td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch_{{item.diamond_id}}" (click)="change_status(item.diamond_id)" [checked]="item.status == 1"/>
                    <label class="custom-control-label" for="customSwitch_{{item.diamond_id}}">Active</label>
                  </div>
                </td>
                <td>
                  <a (click)="edit_diamond(item.diamond_id)">
                    <img src="assets/images/icon/edit-icon-table.svg" class="mx-2 table-img-inr" alt="">
                  </a>
                  <a (click)="delete_diamond(item)">
                    <img src="assets/images/icon/delete-icon.svg" class="mx-2 table-img-inr" alt="">
                  </a>
                </td>
              </tr>
              </tbody>
              <tbody *ngIf="searchlist?.length == 0">
              <tr>
                <td colspan="12" class="no-data-available">No data!</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
