<div class="container-fluid front-section">
  <app-front-header></app-front-header>
  <div class="row row-space-class">
    <div class="col-12 p-0">
      <div class="comn-hdr-bg-top text-center">
        <h1>Educational</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">K’s Grading</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row inr-row-space">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tabs-section-text">
            <h2>Grading</h2>
            <div class="row tabs-section-table">
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th>CARAT</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>Size Range 0.30 up</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th>CLARITY</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>FL, IF, VVS1, VVS2, VS1, VS2, SI1, SI2, SI3, I1, I2, I3</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th>COLOR</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>D, E, F, G, H, I, J, K, L, M, N, O-P, Q-R, W-X, Y-Z</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th colspan="5">CUT</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>#</td>
                        <td><b>Cut Grades</b></td>
                        <td><b>Description</b></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>EX</td>
                        <td>Excellent</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>VG</td>
                        <td>Very Good</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>GD</td>
                        <td>Good</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>F</td>
                        <td>Fair</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th colspan="5">POLISH</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>#</td>
                        <td><b>Polish</b></td>
                        <td><b>Description</b></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>EX</td>
                        <td>Excellent</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>VG</td>
                        <td>Very Good</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>GD</td>
                        <td>Good</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>F</td>
                        <td>Fair</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th colspan="5">SYMMETRY</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>#</td>
                        <td><b>Symmetry Grades</b></td>
                        <td><b>Description</b></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>EX</td>
                        <td>Excellent</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>VG</td>
                        <td>Very Good</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>GD</td>
                        <td>Good</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>F</td>
                        <td>Fair</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th colspan="5">WHITE INCLUSION BASE</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>#</td>
                        <td><b>Grade</b></td>
                        <td><b>Description</b></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>N(WT0)</td>
                        <td>None</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>NV</td>
                        <td>None Visible</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>WT1</td>
                        <td>Minor</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>WT2</td>
                        <td>Medium</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>WT3</td>
                        <td>Major</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th colspan="5">BLACK INCLUSION BASE</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>#</td>
                        <td><b>Grade</b></td>
                        <td><b>Description</b></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>N(BT0)</td>
                        <td>None</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>NV</td>
                        <td>None Visible</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>BT1</td>
                        <td>Minor</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>BT2</td>
                        <td>Medium</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>BT3</td>
                        <td>Major</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th colspan="5">OPEN BASE</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>#</td>
                        <td><b>Grade</b></td>
                        <td><b>Inc. Type</b></td>
                        <td><b>Location</b></td>
                        <td><b>Description</b></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>N(WC0 /WT0)</td>
                        <td>Open</td>
                        <td>---</td>
                        <td>None</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>NV</td>
                        <td>Open</td>
                        <td>---</td>
                        <td>None Visible</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>CO1</td>
                        <td>Open</td>
                        <td>Crown</td>
                        <td>Minor</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>TO1</td>
                        <td>Open</td>
                        <td>Table</td>
                        <td>Minor</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>CO2</td>
                        <td>Open</td>
                        <td>Crown</td>
                        <td>Medium</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>TO2</td>
                        <td>Open</td>
                        <td>Table</td>
                        <td>Medium</td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>CO3</td>
                        <td>Open</td>
                        <td>Crown</td>
                        <td>Major</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>TO3</td>
                        <td>Open</td>
                        <td>Crown</td>
                        <td>Major</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th colspan="5">FLUORESCENCE</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>#</td>
                        <td><b>FL Grades</b></td>
                        <td><b>Parameters</b></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>N</td>
                        <td>None Fluorescence</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>FNT</td>
                        <td>Faint Fluorescence</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>MED</td>
                        <td>Medium Fluorescence</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>STG</td>
                        <td>Strong Fluorescence</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>VST</td>
                        <td>Very Strong Fluorescence</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th colspan="5">COLOR SHADE</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>#</td>
                        <td><b>Grade</b></td>
                        <td><b>Color Shade</b></td>
                        <td><b>Color Shade Description</b></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>N</td>
                        <td>WH/OF WH/YL</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>NV</td>
                        <td>Brown/Grey/Pink</td>
                        <td>None Visible</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>BRN1</td>
                        <td>Brown</td>
                        <td>Faint</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>BRN2</td>
                        <td>Brown</td>
                        <td>Light</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>BRN3</td>
                        <td>Brown</td>
                        <td>Dark</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th colspan="5">MILKY</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>#</td>
                        <td><b>Grade</b></td>
                        <td><b>Size/Description</b></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>N(M0)</td>
                        <td>None</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>NV</td>
                        <td>None Visible</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>M1</td>
                        <td>Minor</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>M2</td>
                        <td>Medium</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>M3</td>
                        <td>Major</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th colspan="5">EYE CLEAN</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>#</td>
                        <td><b>Grade</b></td>
                        <td><b>%</b></td>
                        <td><b>Description</b></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>EC1</td>
                        <td>75% - 100%</td>
                        <td>Sure</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>EC2</td>
                        <td>50% - 74%</td>
                        <td>Medium</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>EC3</td>
                        <td>25% - 49%</td>
                        <td>Medium</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>V</td>
                        <td>0% - 25%</td>
                        <td>Inclusion Visible</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th colspan="5">HEART &amp; ARROW BASE</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>#</td>
                        <td><b>Grade</b></td>
                        <td><b>%</b></td>
                        <td><b>Description</b></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>EX</td>
                        <td>75% - 100%</td>
                        <td>Ex H&amp;A</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>VG</td>
                        <td>50% - 74%</td>
                        <td>VG H&amp;A</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>NV</td>
                        <td>25% - 49%</td>
                        <td>None Visible</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>N</td>
                        <td>0% - 25%</td>
                        <td>None</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th colspan="5">ROUGH ORIGIN</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>#</td>
                        <td><b>Grade</b></td>
                        <td><b>Description</b></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>CM</td>
                        <td>Canada Mark</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>CME</td>
                        <td>Canada Mark Eligible</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>FM</td>
                        <td>Forever Mark</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>FMG</td>
                        <td>Forever Mark Grading</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>FME</td>
                        <td>Forever Mark</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>FMI</td>
                        <td>Forever Mark Inscribed</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th colspan="5">LAB</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>#</td>
                        <td><b>Lab</b></td>
                        <td><b>Description</b></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>GIA</td>
                        <td>Gemological Institute of America</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>IGI</td>
                        <td>International Gemological Institute</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>HRD</td>
                        <td>Hoge Raad voor Diamant</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>EGL</td>
                        <td>European Gemological Laboratory</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>IIDGR</td>
                        <td>International Institute of Diamond Grading and Research</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>AGS</td>
                        <td>American Gem Society</td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>FAITH</td>
                        <td>Hari Krishna Export's Certificate</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>FM</td>
                        <td>Forever Mark</td>
                      </tr>
                      <tr>
                        <td>9</td>
                        <td>FMI</td>
                        <td>Forever Mark Inscribed</td>
                      </tr>
                      <tr>
                        <td>10</td>
                        <td>FMG</td>
                        <td>Forever Mark Grading</td>
                      </tr>
                      <tr>
                        <td>11</td>
                        <td>FMG/I</td>
                        <td>Forever Mark Grading / Inscribed</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th colspan="1">NEW ARRIVALS DATE</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>This is the date on which new goods transfer for sale.</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="btn-comn-div pt-5 text-center">
                  <button type="button" class="btn btn-comn" download><span>Download Kukadia Grading</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-front-footer></app-front-footer>
</div>
