<div class="dash-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <main class="content-wrapper-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="profile-section-main">
            <div class="profile-section-imgs" style="background: url('assets/images/background-profile-dark.jpg'); background-position: center bottom; background-repeat: no-repeat; background-size: cover;">
            </div>
            <div class="profile-section-btm">
              <img src="{{company_logo}}" alt="" />
              <div class="profile-section-btm-text">
                <h4>{{firstname}} {{lastname}}</h4>
              </div>
            </div>
            <div class="profile-section-btns profile-edit">
              <a href="javascript:void(0)" (click)="open_model1()">
                <img src="assets/images/icon/camera-icon.svg" class="mr-1" />
                <span>Edit Picture</span>
              </a>
            </div>
            <div class="profile-section-btns">
              <a href="javascript:void(0)" (click)="open_model()">
                <span>Change Password</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-12 m-auto">
          <div class="profile-section-main-inner">
            <div class="profile-section-main-inner-hdr">
              <h2>Edit Profile</h2>
            </div>
            <div class="profile-section-main-inner-body py-3">
              <form class="row m-0" [formGroup]="AddForm" (ngSubmit)="onSubmit()">
                <div class="col-md-6 form-group">
                  <label>First Name<span>*</span></label>
                  <input type="text" formControlName="firstname" class="form-control input-style" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && fval.firstname.errors }"/>
                  <div *ngIf="submitted && fval.firstname.errors" class="invalid-feedback">
                    <div *ngIf="fval.firstname.errors.required">
                      First Name is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label>Last Name<span>*</span></label>
                  <input type="text" formControlName="lastname" class="form-control input-style" placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && fval.lastname.errors }"/>
                  <div *ngIf="submitted && fval.lastname.errors" class="invalid-feedback">
                    <div *ngIf="fval.lastname.errors.required">
                      Last Name is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label>Mobile No.<span>*</span></label>
                  <input type="tel" formControlName="mobile" class="form-control input-style" placeholder="Mobile No" [ngClass]="{ 'is-invalid': submitted && fval.mobile.errors }"/>
                  <div *ngIf="submitted && fval.mobile.errors" class="invalid-feedback">
                    <div *ngIf="fval.mobile.errors.minlength">
                      Mobile No is Minimum 10 Digit
                    </div>
                    <div *ngIf="fval.mobile.errors.maxlength">
                      Mobile No is Maximum 10 Digit
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label>Telephone No.</label>
                  <input type="tel" formControlName="phone" class="form-control input-style" placeholder="Telephone No" [ngClass]="{ 'is-invalid': submitted && fval.phone.errors }"/>
                  <div *ngIf="submitted && fval.phone.errors" class="invalid-feedback">
                    <div *ngIf="fval.phone.errors.minlength">
                      Phone No is Minimum 10 Digit
                    </div>
                    <div *ngIf="fval.phone.errors.maxlength">
                      Phone No is Maximum 10 Digit
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label>Birth Date</label><br>
                  <mat-form-field appearance="fill" style="width: 100%">
                    <input class="input-style-admin" placeholder="Select Birth Date" matInput [matDatepicker]="picker" formControlName="birth_date" [ngClass]="{ 'is-invalid': submitted && fval.birth_date.errors }">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="submitted && fval.birth_date.errors">Birth Date is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6 form-group">
                  <label>Anniversary Date</label><br>
                  <mat-form-field appearance="fill" style="width: 100%">
                    <input class="input-style-admin" placeholder="Select Anniversary Date" matInput [matDatepicker]="picker1" formControlName="anniversary_date" [ngClass]="{ 'is-invalid': submitted && fval.anniversary_date.errors }">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="submitted && fval.anniversary_date.errors">Anniversary Date is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6 form-group">
                  <label>Company Name<span>*</span></label>
                  <input type="text" formControlName="company_name" class="form-control input-style" placeholder="Enter Company Name" [ngClass]="{ 'is-invalid': submitted && fval.company_name.errors }"/>
                  <div *ngIf="submitted && fval.company_name.errors" class="invalid-feedback">
                    <div *ngIf="fval.company_name.errors.required">
                      Company Name is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label>Designation<span>*</span></label>
                  <select class="custom-select form-control input-style" formControlName="designation" [ngClass]="{ 'is-invalid': submitted && fval.designation.errors }">
                    <option selected="selected" value="">Select Designation</option>
                    <option value="Accountant">Accountant</option>
                    <option value="Accountant(S)">Accountant(S)</option>
                    <option value="AccSHK">AccSHK</option>
                    <option value="Accview">Accview</option>
                    <option value="Buyer">Buyer</option>
                    <option value="CEO">CEO</option>
                    <option value="Computer Operator">Computer Operator</option>
                    <option value="CUSTOMER SUPPORT">CUSTOMER SUPPORT</option>
                    <option value="Designer">Designer</option>
                    <option value="Director">Director</option>
                    <option value="DOM">DOM</option>
                    <option value="Export">Export</option>
                    <option value="Founder">Founder</option>
                    <option value="human resource manager">human resource manager</option>
                    <option value="Image Video And Cert Uploader">Image Video And Cert Uploader</option>
                    <option value="Manager">Manager</option>
                    <option value="Others">Others</option>
                    <option value="Owner">Owner</option>
                    <option value="Partner">Partner</option>
                    <option value="PRESIDENT">PRESIDENT</option>
                    <option value="PRESIDENT AND CEO">PRESIDENT AND CEO</option>
                    <option value="Price Data Operator Assort">Price Data Operator Assort</option>
                    <option value="Pricing">Pricing</option>
                    <option value="Proprietor">Proprietor</option>
                    <option value="Purchase">Purchase</option>
                  </select>
                  <div *ngIf="submitted && fval.designation.errors" class="invalid-feedback">
                    <div *ngIf="fval.designation.errors.required">
                      Designation is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label>Business Type<span>*</span></label>
                  <select class="custom-select form-control input-style" formControlName="business_type" [ngClass]="{ 'is-invalid': submitted && fval.business_type.errors }">
                    <option selected="selected" value="">Select Business Type</option>
                    <option value="Polished Dealer">Polished Dealer</option>
                    <option value="Jewellery Manufacturer">Jewellery Manufacturer</option>
                    <option value="Diamond Manufacturer">Diamond Manufacturer</option>
                    <option value="Retailer">Retailer</option>
                    <option value="Consumer">Consumer</option>
                    <option value="Other">Other</option>
                  </select>
                  <div *ngIf="submitted && fval.business_type.errors" class="invalid-feedback">
                    <div *ngIf="fval.business_type.errors.required">
                      Business Type is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label>Country<span>*</span></label>
                  <input type="text" formControlName="country" class="form-control input-style" placeholder="Country" [ngClass]="{ 'is-invalid': submitted && fval.country.errors }"/>
                  <div *ngIf="submitted && fval.country.errors" class="invalid-feedback">
                    <div *ngIf="fval.country.errors.required">
                      Country is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label>State<span>*</span></label>
                  <input type="text" formControlName="state" class="form-control input-style" placeholder="State" [ngClass]="{ 'is-invalid': submitted && fval.state.errors }"/>
                  <div *ngIf="submitted && fval.state.errors" class="invalid-feedback">
                    <div *ngIf="fval.state.errors.required">
                      State is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label>City<span>*</span></label>
                  <input type="text" formControlName="city" class="form-control input-style" placeholder="City" [ngClass]="{ 'is-invalid': submitted && fval.city.errors }"/>
                  <div *ngIf="submitted && fval.city.errors" class="invalid-feedback">
                    <div *ngIf="fval.city.errors.required">
                      City is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label>Zip Code<span>*</span></label>
                  <input type="number" formControlName="zipcode" class="form-control input-style" placeholder="Zip Code" [ngClass]="{ 'is-invalid': submitted && fval.zipcode.errors }"/>
                  <div *ngIf="submitted && fval.zipcode.errors" class="invalid-feedback">
                    <div *ngIf="fval.zipcode.errors.required">
                      Zip Code is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label>Fax</label>
                  <input type="text" formControlName="fax" class="form-control input-style" placeholder="" [ngClass]="{ 'is-invalid': submitted && fval.fax.errors }"/>
                  <div *ngIf="submitted && fval.fax.errors" class="invalid-feedback">
                    <div *ngIf="fval.fax.errors.required">
                      Fax is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label>Address</label>
                  <textarea type="text" formControlName="address" class="form-control input-style" placeholder="" [ngClass]="{ 'is-invalid': submitted && fval.address.errors }"></textarea>
                  <div *ngIf="submitted && fval.address.errors" class="invalid-feedback">
                    <div *ngIf="fval.address.errors.required">
                      Address is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label>How Do You Know Us ?<span>*</span></label>
                  <select class="custom-select form-control input-style" formControlName="any_reference" [ngClass]="{ 'is-invalid': submitted && fval.any_reference.errors }">
                    <option selected="selected" value="">Select Reference</option>
                    <option value="Sales Person">Sales Person</option>
                    <option value="Third Party Reference">Third Party Reference</option>
                    <option value="RapNet">RapNet</option>
                    <option value="VDB App">VDB App</option>
                    <option value="LinkedIn">LinkedIn</option>
                    <option value="WhatsApp">WhatsApp</option>
                    <option value="Facebook">Facebook</option>
                    <option value="Instagram">Instagram</option>
                    <option value="Google">Google</option>
                    <option value="WeChat">WeChat</option>
                    <option value="Twitter">Twitter</option>
                    <option value="QQ">QQ</option>
                    <option value="News">News</option>
                    <option value="Visit">Visit</option>
                    <option value="Walk In">Walk In</option>
                    <option value="Other">Other</option>
                    <option value="HK Blog">HK Blog</option>
                    <option value="Market Diamonds">Market Diamonds</option>
                  </select>
                  <div *ngIf="submitted && fval.any_reference.errors" class="invalid-feedback">
                    <div *ngIf="fval.any_reference.errors.required">
                      Reference is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group" *ngIf="proofVerified == 0">
                  <label>Photo Identity Proof</label>
                  <div class="file-upload">
                    <div class="image-upload-wrap">
                      <input class="file-upload-input file-upload-input-photo" (change)="upload_photo($event)" type="file" accept="image/*,.pdf" />
                      <div class="drag-text">
                        <h3>Drag & Drop image here or browse for an image to upload</h3>
                      </div>
                    </div>
                    <div class="text-center pb-4">
                      <button class="file-upload-btn btn" type="button" onclick="$('.file-upload-input-photo').trigger('click')">Upload Image</button>
                    </div>
                  </div>
                  <p class="p-text-tag">Passport, Driving Licence (Scan and upload only .jpg , .jpeg , .png and .pdf files)</p>
                </div>
                <div class="col-md-6 form-group"  *ngIf="proofVerified == 0">
                  <label>Business Identity Proof</label>
                  <div class="file-upload">
                    <div class="image-upload-wrap">
                      <input class="file-upload-input file-upload-input-business" (change)="upload_business($event)" type="file" accept="image/*,.pdf" />
                      <div class="drag-text">
                        <h3>Drag & Drop image here or browse for an image to upload</h3>
                      </div>
                    </div>
                    <div class="text-center pb-4">
                      <button class="file-upload-btn btn" type="button" onclick="$('.file-upload-input-business').trigger('click')">Upload Image</button>
                    </div>
                  </div>
                  <p class="p-text-tag">Business Card (scan and upload only .jpg, .jpeg, .png and .pdf files)</p>
                </div>
                <div class="col-md-6 form-group" *ngIf="photo_proof != ''">
                  <img class="file-upload-image" src="{{photo_proof}}" alt="" *ngIf="photo_pdfviewer == false" />
                  <ul class="pdf-list-file" *ngIf="photo_pdfviewer == true">
                    <li>
                      <a href="javascript:void(0)" class="image-area d-flex align-items-center position-relative">
                        <img src="assets/images/icon/pdf-file.svg" alt="">
                        <span class="mx-2">{{photo_proof}}</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 form-group" *ngIf="business_proof != ''">
                  <img class="file-upload-image" src="{{business_proof}}" alt="" *ngIf="business_pdfviewer == false" />
                  <ul class="pdf-list-file" *ngIf="business_pdfviewer == true">
                    <li>
                      <a href="javascript:void(0)" class="image-area d-flex align-items-center position-relative">
                        <img src="assets/images/icon/pdf-file.svg" alt="">
                        <span class="mx-2">{{business_proof}}</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-12">
                  <div class="btn-btm-inr-tabs text-center my-3">
                    <button type="submit" class="btn btn-inr-top mr-sm-2">Save</button>
                    <button type="button" class="btn btn-reset" routerLink="/profile">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay toggle-icon-main"></div>
  </main>

  <div class="modal fade" id="password-change-modal" tabindex="-1" aria-labelledby="password-change-modal" aria-hidden="true" style="opacity: 0" [ngStyle]="{'display': show_model ? 'block' : 'none','opacity': 1,'background':'#0000004f'}">
    <div class="modal-dialog modal-dialog-centered modal-cust-small">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Change Password</h5>
          <button (click)="close_model()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="assets/images/icon/modal-close-icon.svg" alt="" />
          </button>
        </div>
        <div class="modal-body">
          <form class="row comn-form" [formGroup]="PasswordForm" (ngSubmit)="onSubmitPassword()">
            <div class="col-12 form-group">
              <input type="password" formControlName="old_password" class="form-control input-style" placeholder="Old Password" [ngClass]="{ 'is-invalid': password_submitted && f.old_password.errors }"/>
              <div *ngIf="password_submitted && f.old_password.errors" class="invalid-feedback">
                <div *ngIf="f.old_password.errors.required">Old Password is required</div>
                <div *ngIf="f.old_password.errors.minlength">Old Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="col-12 form-group">
              <input type="password" formControlName="password" class="form-control input-style" placeholder="New Password" [ngClass]="{ 'is-invalid': password_submitted && f.password.errors }"/>
              <div *ngIf="password_submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">New Password is required</div>
                <div *ngIf="f.password.errors.minlength">New Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="col-12 form-group">
              <input type="password" formControlName="confirm_password" class="form-control input-style" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': password_submitted && f.confirm_password.errors }"/>
              <div *ngIf="password_submitted && f.confirm_password.errors" class="invalid-feedback">
                <div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirm_password.errors.minlength">Confirm Password must be at least 6 characters</div>
                <div *ngIf="f.confirm_password.errors.mustMatch">Confirm Passwords must match</div>
              </div>
            </div>
            <div class="col-12">
              <div class="btn-btm-inr-tabs text-center my-3">
                <button type="submit" class="btn btn-inr-top">Change Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" [ngClass]="{'show': show_model1}" id="edit-picture-modal" tabindex="-1" aria-labelledby="edit-picture-modal" aria-hidden="true" style="opacity: 0" [ngStyle]="{'display': show_model1 ? 'block' : 'none','opacity': 1,'background':'#0000004f'}">
    <div class="modal-dialog modal-dialog-centered modal-cust-small modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Picture</h5>
          <button (click)="close_model1()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="assets/images/icon/modal-close-icon.svg" alt="" />
          </button>
        </div>
        <div class="modal-body">
          <form class="row comn-form" [formGroup]="PictureForm" (ngSubmit)="onSubmitPicture()">
<!--            <div class="col-12 form-group">-->
<!--              <label class="dash-label">Profile Image</label>-->
<!--              <input type="file" (change)="upload_logo($event)" class="form-control input-style" placeholder="" accept=".png, .jpg, .jpeg" formControlName="profile" [ngClass]="{ 'is-invalid': picture_submitted && f1.profile.errors }"/>-->
<!--              <div *ngIf="picture_submitted && f1.profile.errors" class="invalid-feedback">-->
<!--                <div *ngIf="f1.profile.errors.required">Profile Image is required</div>-->
<!--              </div>-->
<!--            </div>-->
            <div class="col-12 form-group">
              <label class="dash-label">Profile Image</label>
              <input type="file" (change)="fileChangeEvent($event)" class="form-control input-style" placeholder="" accept=".png, .jpg, .jpeg" formControlName="profile" [ngClass]="{ 'is-invalid': picture_submitted && f1.profile.errors }"/>
              <div *ngIf="picture_submitted && f1.profile.errors" class="invalid-feedback">
                <div *ngIf="f1.profile.errors.required">Profile Image is required</div>
              </div>
            </div>
            <div class="col-12 form-group">
              <image-cropper
                class="image-file-box"
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="3 / 3"
                format="png"
                [style.display]="showCropper ? null : 'none'"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady($event)"
                (loadImageFailed)="loadImageFailed()"
              ></image-cropper>
            </div>
            <div class="col-12 form-group text-center" *ngIf="croppedImage">
              <img [src]="croppedImage" width="80px" height="80px" />
            </div>
            <div class="col-12">
              <div class="btn-btm-inr-tabs text-center my-3">
                <button type="submit" class="btn btn-inr-top">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
