<div class="row row-space-class">
  <div class="col-12 p-0">
    <div class="comn-hdr-bg-top text-center">
      <h1>K's Grading</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">K's Grading</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="row inr-row-space cls-row-text">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="text-center infa-image">
          <img src="assets/images/greding.png" alt="" class="img-fluid"/>
        </div>
      </div>
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="infra-div-text">
          <h3>What is Diamond Shapes?</h3>
          <p>
            Every diamond is the remark of your true love, bond, and commitment that makes every moment precious and
            special. And when it comes to expressing your emotions, you can’t settle with the ordinary. It demands
            uniqueness in shape, cut, clarity and designs, and to shop for the perfect jewel, you need to consider a few
            of the factors that present a unique impression, elegant cuts, and a mysterious glow, to give the real you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row cls-row-text">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="comn-title-shap text-center">
          <h2>Our dynamic catalog</h2>
          <div class="comn-title-shap-imgs d-flex align-items-center justify-content-center">
            <img src="assets/images/icon/left-title-shap.svg" alt=""/>
            <span class="mx-2"><img src="assets/images/icon/title-shap-logo.svg" alt=""/></span>
            <img src="assets/images/icon/right-title-shap.svg" alt=""/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row inr-row-space bg-light-row cls-row-text">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="infra-div-text">
          <h3>Round Cut Diamond</h3>
          <p>
            Round Cut Diamonds are one of the most ideal choices for engagement rings that spark up the dazzling glow
            with their unique mechanism of shape. This round cut has been specially engineered to reflect the brilliance
            and dispersion with intense brightness. Approximately, 75% of all the round cut diamonds are sold showing
            its popularity widely.
          </p>
          <p>
            As researched by the gemologists, round cut diamonds are renowned for their unrivaled fire and excellence
            that makes them more valuable than other gemstones. This elegant shape is classic enough to make the
            statement
            without any accompaniment. So, if you have a specified budget, round cut diamonds will be the best choice.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="infra-div-img-main text-center">
          <img src="assets/images/icon/round-cut-img.svg" alt="" class="img-fluid"/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row inr-row-space cls-row-text">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-1 order-lg-0">
        <div class="infra-div-img-main text-center">
          <img src="assets/images/icon/emerald-cut-img.svg" alt="" class="img-fluid"/>
        </div>
      </div>
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="infra-div-text">
          <h3>Emerald Cut Diamond</h3>
          <p>
            Using the original technique for the emerald cuts, these are usually rectangular in shape, often
            distinguished by beveled corners and step facets. With long and straight lines, it offers abundant
            reflections making
            Emerald Cut Diamond a premium choice with lesser spark and more quality and clarity.
          </p>
          <p>
            This diamond shape produces the hall of the mirror effect that interacts with the dark and light planes. It
            gives you a vintage thought and elevates the look and feel of your slender finger. Accounting for only 3% of
            the diamond market, it is considered as one of the least common diamond cuts compared to round cut diamonds.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row inr-row-space bg-light-row cls-row-text">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="infra-div-text">
          <h3>Cushion Cut Diamond</h3>
          <p>
            Introduced back in the early 1800s, it has a luxurious history reflecting a more traditional outlook with
            the less fiery and more brilliant for any special occasion. Cushion Cut Diamonds have rounded corners, cut
            into a square and rectangular shape, having a precise binding and dispersion of light. These are available
            in several variations like- Modern, Standard and Modified differ with the uniqueness in designs.
          </p>
          <p>
            Cushion Cut Diamonds always have the luxurious appeal due to their larger facets and intense flashes of
            fire, giving a slimming effect on the fingers. Also, if you want to display the color diamonds, Cushion Cut
            Diamonds are the best options for your requirement. You can visit our Engagement Ring store to explore the
            state-of-the-art collections with vibrant shapes.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="infra-div-img-main text-center">
          <img src="assets/images/icon/cushion-cut-img.svg" alt="" class="img-fluid"/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row inr-row-space cls-row-text">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-1 order-lg-0">
        <div class="infra-div-img-main text-center">
          <img src="assets/images/icon/marquis-cut-img.svg" alt="" class="img-fluid"/>
        </div>
      </div>
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="infra-div-text">
          <h3>Marquis Cut Diamond</h3>
          <p>
            The shape of Marquis Cut Diamond resembles the elegant boat that is popularly known as The Navette Cut. It
            serves as the complement to the wearers who want a slender look since it has the appearance of a larger
            stone
            – typically unique from the round, square, and rectangular shape.
          </p>
          <p>
            This pointed shape perfectly balances the brilliant white light with the dispersion having the largest face
            up area to bring the ultimate shine to your slimmer finger. With the elegant flair, it reflects the stand
            out but, while shopping the Marquis Cut Diamond, avoid the bow-tie effect that happens when the shape of the
            diamond casts shadows on the main facet of the stone.
          </p>
          <p>
            If you ever want to shop for the most real Marquise Cut Diamond, note that you won’t find such a defect. It
            will look more dramatic and larger than the differently-cut stones of the same carat weight. At Kukadia
            Group, we have tested diamonds that meet the benchmark of real and rarity. Pay a visit now and get the most
            nostalgic gift for your better half!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row inr-row-space bg-light-row cls-row-text">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="infra-div-text">
          <h3>Heart Cut Diamond</h3>
          <p>
            Heart Cut Diamond holds a romantic gesture resembling the shape of love, making an excellent choice for an
            engagement ring or anniversary ring. This shape is ideal for pendants and earrings, not too flat because it
            can dull the brilliance of the gem. You can also go for the larger diamonds so the shape brims out
            magnificently.
          </p>
          <p>
            Forming a part of the Pear Cut Diamond, it requires great skill and dexterity from the diamond cutter to
            give a premium polish with the well refined shine and brilliance. And, at Kukadia Group, we can design this
            for
            you!
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="infra-div-img-main text-center">
          <img src="assets/images/icon/heart-cut-img.svg" alt="" class="img-fluid"/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row inr-row-space cls-row-text">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-1 order-lg-0">
        <div class="infra-div-img-main text-center">
          <img src="assets/images/icon/pear-cut-img.svg" alt="" class="img-fluid"/>
        </div>
      </div>
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="infra-div-text">
          <h3>Pear Cut Diamond</h3>
          <p>
            Pear Cut Diamond is the striking blend of Marquise and Round Cut Diamond that makes a timeless choice for
            exuding the elegance. This type of diamond shape is quite challenging to produce and at Kukadia Group,
            combining the brilliance of round cuts with the uniqueness of Marquis, we showcase our skill and quality
            with the most splendid shape. Our expert and GIA graded professionals master the deft in Pear Cut Diamond
            because we know every relationship demands effort and so we put in for you.
          </p>
          <p>
            This has symmetrical curves and hides the inclusions well with exquisite traditional cuts. The narrower and
            wider shape makes it shimmers evenly enchanting the overall look of your engagement ring. You can find this
            shape with the pendant, ring, bracelets, and other accessories. To discover our handpicked collections,
            visit our store now!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row inr-row-space cls-row-text">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="comn-title-shap text-center">
          <h2>Craftsmanship</h2>
          <div class="comn-title-shap-imgs d-flex align-items-center justify-content-center">
            <img src="assets/images/icon/left-title-shap.svg" alt=""/>
            <span class="mx-2"><img src="assets/images/icon/title-shap-logo.svg" alt=""/></span>
            <img src="assets/images/icon/right-title-shap.svg" alt=""/>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
        <div class="craft-section">
          <img src="assets/images/craft-img-1.png" alt=""/>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
        <div class="craft-section">
          <img src="assets/images/craft-img-2.png" alt=""/>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
        <div class="craft-section">
          <img src="assets/images/craft-img-3.png" alt=""/>
        </div>
      </div>
      <div class="col-lg-6 m-auto pt-md-5 craft-section">
        <p class="text-center">Our highly-skilled, highly professional and high-caliber craftsmen produce diamonds
          keeping in mind 3 parameters – outstanding quality, unique cut and extraordinary shine.</p>
      </div>
    </div>
  </div>
</div>
