<div class="dash-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <main class="content-wrapper-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="inr-title-comn d-sm-flex align-items-center justify-content-between">
            <h3>WatchList</h3>
            <div class="inr-title-btn d-flex align-items-center justify-content-center mt-3 mt-sm-0">
              <div class="dropdown mr-2">
                <button (click)="export_csv()" type="button" class="btn-inr-top">Export</button>
              </div>
              <div class="dropdown">
                <button (click)="AddToCart()" *ngIf="DiamondList.length > 0" type="button" class="btn-inr-top">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="dash-box-white">
            <div class="comn-white-box-table">
              <table datatable [dtOptions]='dtOptions' class="display">
                <thead>
                  <tr>
                    <th class="no-search-filter">
                      <div class="cust-checkbox-new">
                        <label class="cust-chk-bx">
                          <input type="checkbox" name="diamondcheck" [checked]="isMasterChecked" (click)="checkuncheckall()" />
                          <span class="cust-chkmark"></span>
                        </label>
                      </div>
                    </th>
                    <th>Stock Number</th>
                    <th>Certifying Lab</th>
                    <th>Rap. Amount</th>
                    <th>Cts</th>
                    <th>Avg Disc</th>
                    <th>Total Ct/Pr</th>
                    <th>Total Amount</th>
                    <th class="no-search-filter">Action</th>
                  </tr>
                </thead>
                <tbody *ngIf="watchList?.length>0">
                <tr *ngFor="let item of watchList" [class.table-success]="DiamondList.includes(item['diamond_id'])">
                  <td>
                    <div class="cust-checkbox-new">
                      <label class="cust-chk-bx">
                        <input type="checkbox" name="diamondcheck" [checked]="DiamondList.includes(item['diamond_id'])" value="{{item['diamond_id']}}" (click)="checkboxSelect($event.target.value)" />
                        <span class="cust-chkmark"></span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <a [routerLink]="['/diamonds/view-diamonds',item.diamond_id]">#{{item['stock_number']}}</a>
                  </td>
                  <td>{{item['lab']}}</td>
                  <td>{{item['rap_price'] | currency}}</td>
                  <td>{{item['size']}}</td>
                  <td>{{item['sale_back']+'%'}}</td>
                  <td>{{item['sale_price_back'] | currency}}</td>
                  <td>{{item['sale_subtotal'] | currency}}</td>
                  <td>
                    <a (click)="ParticularAddToCart(item['diamond_id'])" *ngIf="!watchList.includes(item['diamond_id'])">
                      <img src="assets/images/icon/cart-icon.svg" class="mx-2 table-img-inr" alt="" />
                    </a>
                    <a href="javascript:void(0)" *ngIf="watchList.includes(item['diamond_id'])">
                      <img src="assets/images/icon/cart-icon.svg" class="mx-2 table-img-inr" alt="" />
                    </a>
                    <a href="javascript:void(0)" ngxClipboard [cbContent]="copyHtml(item)" (click)="chatMessage()">
                      <img src="assets/images/icon/chat-icon.svg" class="mx-2 table-img-inr" alt="" />
                    </a>
                    <a (click)="delete_order(item['diamond_id'])">
                      <img src="assets/images/icon/delete-icon.svg" class="mx-2 table-img-inr" alt="" />
                    </a>
                  </td>
                </tr>
                </tbody>
                <tbody *ngIf="watchList?.length == 0">
                <tr>
                  <td colspan="9" class="no-data-available">No Watchlist available!</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay toggle-icon-main"></div>
  </main>
</div>
