<div class="container-fluid front-section">
  <app-front-header></app-front-header>
  <div class="row row-space-class">
    <div class="col-12 p-0">
      <div class="comn-hdr-bg-top text-center">
        <h1>Customer Care</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sitemap</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row inr-row-space">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tabs-section-text">
            <h2>sitemap</h2>
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
                  <h3>ABOUT</h3>
                  <ul>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a routerLink="/why-kukadia">Why ?</a></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a routerLink="/customers-testimonials">Customers Testimonials</a></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a routerLink="/policy">Policy</a></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a routerLink="/news">K News</a></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a routerLink="/blog">Blog</a></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a routerLink="/csr">CSR at K</a></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a routerLink="/achievements">Kukadia Achievements</a></p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
                  <h3>Educational</h3>
                  <ul>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a routerLink="/k4c">K’s 4C’s</a></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a routerLink="/k-grading">K’s Grading</a></p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
                  <h3>Customer Care</h3>
                  <ul>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a routerLink="/login">Book Appointment</a></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a href="https://www.gia.edu/report-check-landing" target="_ blank">GIA Report Check</a></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a routerLink="/login">Event Calendar</a></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a routerLink="/terms-and-condition">T&C</a></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a routerLink="/faq">FAQs</a></p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
                  <h3>Useful Links</h3>
                  <ul>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a routerLink="/sitemap">Sitemap</a></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a routerLink="/register">Registration</a></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a href="javascript:void(0)" data-toggle="modal" data-target="#concierge-services-Modal">Concierge
                          Services</a></p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-start">
                        <img src="assets/images/icon/list-type2.svg" alt=""/>
                        <p><a href="javascript:void(0)" data-toggle="modal"
                              data-target="#Suggestions-Modal">Suggestions</a></p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-front-footer></app-front-footer>
</div>
