.full-section-main .comn-title-shap h1 {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 40px;
  font-weight: 700;
}

#admin-login-particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.full-section-main {
  position: relative;
  z-index: 2;
  max-width: 750px;
  margin: 30px auto;
}

.full-section-main .comn-title-shap {
  padding: 25px 0;
}

.log-right-btm label {
  color: var(--color-white);
}

.frt-link {
  color: var(--color-white) !important;
}

.custom-div-ctr {
  padding: 25px;
}

.log-right-top {
  margin-bottom: 20px;
}

.h-100-cust {
  height: 100%;
}

.full-section-logo {
  padding-bottom: 15px;
}

.log-right-btm .input-group-text {
  padding: 6px 12px;
  height: 36px;
}

.btn-dash {
  background-color: var(--color-white);
  color: var(--thm-color) !important;
}

.btn-dash:before {
  background-color: var(--color-white);
}

.log-right-top h1{
  color: var(--color-white);
}

@media (max-width: 767px) {
  .full-section-main {
    max-width: 100%;
    margin: 15px auto;
  }

  .full-section-logo {
    display: block;
    padding-bottom: 15px;
  }

  .full-section-logo img {
    width: 250px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.log-right-fix {
  max-width: 400px;
  margin: 0 auto;
}
