<div class="row row-space-class">
  <div class="col-12 p-0">
    <div class="comn-hdr-bg-top text-center">
      <h1>Founder’s Message</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
          <li class="breadcrumb-item">About Us</li>
          <li class="breadcrumb-item active" aria-current="page">Founder’s Message</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="row inr-row-space">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-10 mx-auto p-0">
              <div class="row">
                <div class="col-lg-4">
                  <div class="fnd-text-left mb-3">
                    <img src="assets/images/founder-pic.png" class="img-fluid height-fix" alt=""/>
                  </div>
                </div>
                <div class="col-lg-8 mt-3 mt-lg-0">
                  <div class="fnd-text-right">
                    <span class="text-span-3">- Late Founder Mr. Popat Mangukiya</span>
                    <p>
                      Establishing the foundation back in the early 70’s, he always believed that the personnel are
                      the
                      strongest pillars of an organization and therefore, their productivity and growth must go hand
                      in
                      hand,
                      complimenting
                      and reinforcing each other, with a spirit of synergic effort. Because, he knew, together, we can
                      accomplish any hurdle, every hustle!
                    </p>
                    <p>
                      Establishing the foundation back in the early 70’s, he always believed that the personnel are
                      the
                      strongest pillars of an organization and therefore, their productivity and growth must go hand
                      in
                      hand,
                      complimenting
                      and reinforcing each other, with a spirit of synergic effort. Because, he knew, together, we can
                      accomplish any hurdle, every hustle!
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="fnd-text-right">
                    <p>
                      All credits go to his tremendous ability of inspecting the real and fake diamonds and serving
                      the
                      most
                      personalized designs providing the best suits to the customers. With such a sharp business
                      acumen,
                      he
                      became a
                      pioneer business personality of diamond trade for consistently four decades. His vision has been
                      simple
                      and straightforward- “"To scale new heights with regards to growth and quality of our Products
                      and
                      Services
                      without compromising on ethical standards."
                    </p>
                    <p>
                      His efficiency and highly enthusiastic approach towards all made him and Kukadia Group one of
                      the
                      most
                      admiring Groups in the Diamond, Gem and Jewelry Industry. He is a unique and divine thinking
                      personality
                      and
                      visionary for the Kukadia Group to set a benchmark on progressive path of the Group.
                    </p>
                    <p>We pay high tribute to him as whatever we are as Kukadia Group is all thanks to our Founder &
                      Chairman.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 px-0 mx-auto text-gif-div">
        <div class="container">
          <div class="row">
            <div class="col-xl-10 mx-auto">
              <div class="text-gif-div-inr text-center">
                <p>
                  "Growth Of An Organization And Graph Of Its Personnel Will Go Hand In Hand And Will Complement And
                  Reinforce Each Other.”
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-10 mx-auto p-0">
              <div class="fnd-text-right">
                <p>
                  All credits go to his tremendous ability of inspecting the real and fake diamonds and serving
                  the
                  most
                  personalized designs providing the best suits to the customers. With such a sharp business
                  acumen,
                  he
                  became a
                  pioneer business personality of diamond trade for consistently four decades. His vision has been
                  simple
                  and straightforward- “"To scale new heights with regards to growth and quality of our Products
                  and
                  Services
                  without compromising on ethical standards."
                </p>
                <p>
                  His efficiency and highly enthusiastic approach towards all made him and Kukadia Group one of
                  the
                  most
                  admiring Groups in the Diamond, Gem and Jewelry Industry. He is a unique and divine thinking
                  personality
                  and
                  visionary for the Kukadia Group to set a benchmark on progressive path of the Group.
                </p>
                <p>We pay high tribute to him as whatever we are as Kukadia Group is all thanks to our Founder &
                  Chairman.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

