<div class="container-fluid front-section">
  <app-front-header></app-front-header>
  <div class="row row-space-class">
    <div class="col-12 p-0">
      <div class="comn-hdr-bg-top text-center">
        <h1>Company Profile</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item">About Us</li>
            <li class="breadcrumb-item active" aria-current="page">Company Profile</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row inr-row-space">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 mx-auto">
          <div class="row align-items-center">
            <div class="col-lg-8 mt-3 mt-lg-0 order-1 order-lg-0">
              <div class="fnd-text-right">
                <p>
                  For over 30 years and more, Kukadia Group’s primary role has been to help and nurture our clients to
                  procure the best diamonds and establish itself in the important Jewelry market
                </p>
                <p>Started on a small wheel back in 1978 in the City of Surat and later converted into a Partnership and
                  finally acknowledged as the <b>Kukadia Ventures Private Limited</b> in the year 2018..</p>
                <p>
                  Presently, the Group is committed to produce avant grade wholesome products that exceeds the
                  expectations of the customers in all senses. Our diamonds are accompanied by grading certificates from
                  the GIA Institutes.
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="fnd-text-left">
                <img src="assets/images/infra-img-1.png" class="img-fluid" alt=""/>
              </div>
            </div>
            <div class="col-12 mt-5">
              <div class="fnd-text-right">
                <p>
                  <b>‘Everything Pure and Rare.</b> is the maxim coined by [Owner’s Name} and under his excellent
                  expertise and leadership, Kukadia Group has been growing and flourishing exponentially. We have also
                  established our
                  foot to provide the stable supply of diamonds at competitive prices with stringent quality control.
                </p>
                <p>
                  With affiliates across New York, Canada, Hong Kong, and Mumbai, the Company has carved a niche in the
                  dynamic international diamond industry offering world class diamonds.
                </p>
                <p>
                  Company’s success lies in its philosophy of winning the trust of the customers by delivering
                  state-of-the-art quality diamonds, maintaining transparency and long term relationships and exceeding
                  the benchmarking
                  level of Purity Standards.
                </p>
                <p>Kukadia Group is serving a myriad of customers and have become globally renowned for maintaining
                  their merit batches with the Symmetry, Cut and Polish that results into an exceptional level of fire
                  and brilliance.</p>
                <p>
                  Our secret sauce is blended with the undying efforts of the associates and teams of professionals,
                  creative perseverance of deft artisans and designers whose sparkling enthusiasms brought a timeless
                  collection of
                  rare diamonds and Jewelry that are hard to find, because we believe <b>Real is rare. rare Lasts
                  Forever.</b>
                </p>
                <p>
                  At every level, Kukadia Group promises to offer assortments and designs that cater to different
                  communities with a stringent commitment of ensuring an in line unity of corporate support,
                  philanthropic charity and
                  environmental sanctity.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row inr-row-space bg-light-row">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="comn-title-shap text-center">
            <h2>Who we are?</h2>
            <div class="comn-title-shap-imgs d-flex align-items-center justify-content-center">
              <img src="assets/images/icon/left-title-shap.svg" alt=""/>
              <span class="mx-2"><img src="assets/images/icon/title-shap-logo.svg" alt=""/></span>
              <img src="assets/images/icon/right-title-shap.svg" alt=""/>
            </div>
          </div>
        </div>
        <div class="col-xl-10 mx-auto">
          <div class="textnew-text prdt-section text-center">
            <p>
              Kukadia Group is the preferred diamantaire to the world because we are embracing the change and keep on
              introducing the unmatched bouquet of the products of the highest quality at the best competitive prices.
              With a
              strict commitment to purity and clarity, we have used the most advanced decision making tools backed by
              the assurance of our world class manufacturing infrastructure, and stringent quality checking with the
              ultimate
              purpose of consistent innovation and deliver “The Real Experience” encompassing an eye for detail.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row inr-row-space">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="comn-title-shap text-center">
            <h2>What we do?</h2>
            <div class="comn-title-shap-imgs d-flex align-items-center justify-content-center">
              <img src="assets/images/icon/left-title-shap.svg" alt=""/>
              <span class="mx-2"><img src="assets/images/icon/title-shap-logo.svg" alt=""/></span>
              <img src="assets/images/icon/right-title-shap.svg" alt=""/>
            </div>
          </div>
        </div>
        <div class="col-xl-10 mx-auto">
          <div class="fnd-text-right cmpny-text">
            <p>
              Kukadia Group, the world’s largest Diamond Brand with its team of procurement experts, offers certified
              diamonds by scaling up the diamond Jewelry operations by heavily investing into technology to bring the
              final
              ingredient – Rare and Real.
            </p>
            <p>
              With a passion for excellence and commitment to deliver, we continue to build the market and continuously
              strive hard to exceed the benchmarking standards and uncover the new opportunities for the global
              demographics.
            </p>
            <p>
              Our firm is a confluence of certified research teams and GIA graded experts who can undergo stringent
              efforts for meeting up the global demand and helping them in selecting the best diamond at the best price.
              Every
              year, we aim to multiply the demand graph by 10% and more by adding finest Jewelry to the catalogue.
            </p>
            <p>
              With a symmetric focus on breadth and beauty, we offer clients an unmatched range of diamonds in different
              shapes like Round, Princess, Pears, Marquise, Oval and other fancy shaped diamonds to choose from. At
              Kukadia
              Group, <b>we are specialized in 0.30 up GIA, IGI certified diamonds, Clarities range from IF to I1, XXX
              cut to present you state-of-the-art designs with superior makes.</b>
            </p>
            <p>
              We know you deserve the BEST and therefore have added the latest equipment in refining the quality and
              bringing the masterpiece that matches up with the purity and clarity standard disclosing the potential
              hidden in
              every unique diamond. Kukadia Group is the largest user of advanced technology systems that include
              Sarine, Magnus and Helium precision in planning.
            </p>
            <p>
              Our advanced machines include S.O.S and Green laser machines in the sawing process. While, we are using
              the Russian brutters for the bruting process. Every diamond is graded with our own grading system which we
              name
              DGS. We follow a personalized service system while interacting with our customers and begin with
              evaluating their requirements for shape and carat weight. Our every diamond is well polished and ensures
              that they have
              undergone from the process of roughness to 100% polishing. We arrange and assist with meetings of key
              federal, provincial and territorial officials and elected representatives.
            </p>
            <p>These combinations of skills and scale have enabled us to reach the ultimate height of the success.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row inr-row-space">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="comn-title-shap text-center">
            <h2>Contact Us</h2>
            <div class="comn-title-shap-imgs d-flex align-items-center justify-content-center">
              <img src="assets/images/icon/left-title-shap.svg" alt=""/>
              <span class="mx-2"><img src="assets/images/icon/title-shap-logo.svg" alt=""/></span>
              <img src="assets/images/icon/right-title-shap.svg" alt=""/>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-8 m-auto">
          <form class="row">
            <div class="col-md-6 form-group">
              <input type="text" value="" class="form-control input-style" placeholder="Name"/>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" value="" class="form-control input-style" placeholder="Last Name"/>
            </div>
            <div class="col-12 form-group">
              <input type="email" value="" class="form-control input-style" placeholder="Email Address"/>
            </div>
            <div class="col-12 form-group">
              <textarea rows="5" class="form-control input-style" placeholder="Write your message"></textarea>
            </div>
            <div class="col-12">
              <div class="btn-comn-div pt-5 text-center">
                <button type="submit" class="btn-comn"><span>submit</span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-front-footer></app-front-footer>
</div>
