<div class="dash-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <main class="content-wrapper-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="inr-title-comn d-sm-flex align-items-center">
            <h3>Support</h3>
          </div>
        </div>
        <div class="col-12">
          <div class="dash-box-white pb-5">
            <div class="sprt-top-text d-md-flex align-items-center">
              <div class="news-section-tabs-new">
                <ul class="nav nav-pills justify-content-center mb-3" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-IL-tab" data-toggle="pill" href="#pills-IL" role="tab" aria-controls="pills-IL" aria-selected="false">IN</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link border-left" id="pills-USA-tab" data-toggle="pill" href="#pills-USA" role="tab" aria-controls="pills-USA" aria-selected="true">USA</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-BE-tab" data-toggle="pill" href="#pills-BE" role="tab" aria-controls="pills-BE" aria-selected="false">CA</a>
                  </li>
                </ul>
              </div>
              <div class="chat-icon-right ml-auto">
                <a routerLink="/message" class="d-flex align-items-center chat-icon-right-btn">
                  <img src="assets/images/icon/message-icon.svg" alt="" class="mr-2"/>
                  Chat
                </a>
              </div>
            </div>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="pills-IL" role="tabpanel" aria-labelledby="pills-IL-tab">
                <div class="support-white-bx">
                  <div class="dash-location-tabs-inr my-4 position-relative">
                    <ul class="nav nav-pills justify-content-center align-items-center mb-3 pos-new-class"
                        role="tablist">
                      <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-Surat-tab" data-toggle="pill" href="#pills-Surat" role="tab" aria-controls="pills-Surat" aria-selected="true">Surat</a>
                      </li>
                      <li>
                        <span>|</span>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-Mumbai-tab" data-toggle="pill" href="#pills-Mumbai" role="tab" aria-controls="pills-Mumbai" aria-selected="false">Mumbai</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="pills-Surat" role="tabpanel" aria-labelledby="pills-Surat-tab">
                        <div class="map-section pb-4">
                          <iframe
                            width="100%"
                            height="500"
                            frameborder="0"
                            scrolling="no"
                            marginheight="0"
                            marginwidth="0"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7439.082970048502!2d72.84732022440338!3d21.210366045672117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04efc9311667d%3A0x55770fb9fc9cfb83!2sKamala%20Estate!5e0!3m2!1sen!2sus!4v1614661774802!5m2!1sen!2sus"
                          ></iframe>
                        </div>
                        <div class="support-white-bx-class-new">
                          <div class="row m-0">
                            <div class="col-md-4 bdr-right">
                              <div class="spt-btm-box-main text-center">
                                <div class="spt-btm-box-main-icon">
                                  <img src="assets/images/icon/sprt-bx-1.svg" alt=""/>
                                </div>
                                <p>A301 Kamla Estate, Mini Bazaar, Varachha Surat 395006</p>
                              </div>
                            </div>
                            <div class="col-md-4 bdr-right">
                              <div class="spt-btm-box-main text-center">
                                <div class="spt-btm-box-main-icon">
                                  <img src="assets/images/icon/sprt-bx-2.svg" alt=""/>
                                </div>
                                <p><a href="tel:+919081888555">+919081888555</a></p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="spt-btm-box-main text-center">
                                <div class="spt-btm-box-main-icon">
                                  <img src="assets/images/icon/sprt-bx-3.svg" alt=""/>
                                </div>
                                <p><a href="mailto:support@kukadia.co">support@kukadia.co</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="pills-Mumbai" role="tabpanel" aria-labelledby="pills-Mumbai-tab">
                        <div class="map-section pb-4">
                          <iframe
                            width="100%"
                            height="500"
                            frameborder="0"
                            scrolling="no"
                            marginheight="0"
                            marginwidth="0"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.9672562823166!2d72.86207901479492!3d19.065177207267265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8e88deca57b%3A0x941f93892e555814!2sCC-3060%2C%20Bharat%20Diamond%20Bourse%20Internal%20Rd%2C%20G%20Block%20BKC%2C%20Bandra%20Kurla%20Complex%2C%20Bandra%20East%2C%20Mumbai%2C%20Maharashtra!5e0!3m2!1sen!2sus!4v1614675782246!5m2!1sen!2sus"
                          ></iframe>
                        </div>
                        <div class="support-white-bx-class-new">
                          <div class="row m-0">
                            <div class="col-md-4 bdr-right">
                              <div class="spt-btm-box-main text-center">
                                <div class="spt-btm-box-main-icon">
                                  <img src="assets/images/icon/sprt-bx-1.svg" alt=""/>
                                </div>
                                <p>Bharat Diamond Bourse, BKC, Mumbai, Maharashtra</p>
                              </div>
                            </div>
                            <div class="col-md-4 bdr-right">
                              <div class="spt-btm-box-main text-center">
                                <div class="spt-btm-box-main-icon">
                                  <img src="assets/images/icon/sprt-bx-2.svg" alt=""/>
                                </div>
                                <p><a href="tel:+919081888555">+919081888555</a></p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="spt-btm-box-main text-center">
                                <div class="spt-btm-box-main-icon">
                                  <img src="assets/images/icon/sprt-bx-3.svg" alt=""/>
                                </div>
                                <p><a href="mailto:support@kukadia.co">support@kukadia.co</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-USA" role="tabpanel" aria-labelledby="pills-USA-tab">
                <div class="support-white-bx">
                  <div class="dash-location-tabs-inr my-4 position-relative">
                    <ul class="nav nav-pills justify-content-center align-items-center mb-3 pos-new-class" role="tablist">
                      <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-New-York-tab" data-toggle="pill" href="#pills-New-York" role="tab" aria-controls="pills-New-York" aria-selected="true">New York</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="pills-New-York" role="tabpanel" aria-labelledby="pills-New-York-tab">
                        <div class="map-section pb-4">
                          <iframe
                            width="100%"
                            height="500"
                            frameborder="0"
                            scrolling="no"
                            marginheight="0"
                            marginwidth="0"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.231215595687!2d-73.98098768475866!3d40.75693904280242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258fe5f79f02b%3A0x9a75d3235b7ca02c!2s22%20W%2048th%20St%20STE%20303%2C%20New%20York%2C%20NY%2010036!5e0!3m2!1sen!2sus!4v1614661607636!5m2!1sen!2sus"
                          ></iframe>
                        </div>
                        <div class="support-white-bx-class-new">
                          <div class="row m-0">
                            <div class="col-md-4 bdr-right">
                              <div class="spt-btm-box-main text-center">
                                <div class="spt-btm-box-main-icon">
                                  <img src="assets/images/icon/sprt-bx-1.svg" alt=""/>
                                </div>
                                <p>Perry International Inc. 22 W 48th St., Suite#303, New York, NY 10017</p>
                              </div>
                            </div>
                            <div class="col-md-4 bdr-right">
                              <div class="spt-btm-box-main text-center">
                                <div class="spt-btm-box-main-icon">
                                  <img src="assets/images/icon/sprt-bx-2.svg" alt=""/>
                                </div>
                                <p><a href="tel:+12015568757">+12015568757</a></p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="spt-btm-box-main text-center">
                                <div class="spt-btm-box-main-icon">
                                  <img src="assets/images/icon/sprt-bx-3.svg" alt=""/>
                                </div>
                                <p><a href="mailto:support@kukadia.co">support@kukadia.co</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-BE" role="tabpanel" aria-labelledby="pills-BE-tab">
                <div class="support-white-bx">
                  <div class="dash-location-tabs-inr my-4  position-relative">
                    <ul class="nav nav-pills justify-content-center align-items-center mb-3 pos-new-class"
                        role="tablist">
                      <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-Toronto-tab" data-toggle="pill" href="#pills-Toronto"
                           role="tab" aria-controls="pills-Toronto" aria-selected="true">Toronto</a>
                      </li>
                      <li>
                        <span>|</span>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-Montreal-tab" data-toggle="pill" href="#pills-Montreal"
                           role="tab" aria-controls="pills-Montreal" aria-selected="false">Montreal</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="pills-Toronto" role="tabpanel" aria-labelledby="pills-Toronto-tab">
                        <div class="map-section pb-4">
                          <iframe
                            width="100%"
                            height="500"
                            frameborder="0"
                            scrolling="no"
                            marginheight="0"
                            marginwidth="0"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.7134285926863!2d-79.37283768467354!3d43.65413026038893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb371506174d%3A0x41f609b20ac24714!2s205%20Queen%20St%20E%2C%20Toronto%2C%20ON%20M5A%201S2%2C%20Canada!5e0!3m2!1sen!2sus!4v1614661911477!5m2!1sen!2sus"
                          ></iframe>
                        </div>
                        <div class="support-white-bx-class-new">
                          <div class="row m-0">
                            <div class="col-md-4 bdr-right">
                              <div class="spt-btm-box-main text-center">
                                <div class="spt-btm-box-main-icon">
                                  <img src="assets/images/icon/sprt-bx-1.svg" alt=""/>
                                </div>
                                <p>25 Queen St. E., Suite #205, Toronto, ON, CA</p>
                              </div>
                            </div>
                            <div class="col-md-4 bdr-right">
                              <div class="spt-btm-box-main text-center">
                                <div class="spt-btm-box-main-icon">
                                  <img src="assets/images/icon/sprt-bx-2.svg" alt=""/>
                                </div>
                                <p><a href="tel:+17165880555">+17165880555</a></p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="spt-btm-box-main text-center">
                                <div class="spt-btm-box-main-icon">
                                  <img src="assets/images/icon/sprt-bx-3.svg" alt=""/>
                                </div>
                                <p><a href="mailto:shyam@kukadia.co">shyam@kukadia.co</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="pills-Montreal" role="tabpanel" aria-labelledby="pills-Montreal-tab">
                        <div class="map-section pb-4">
                          <iframe
                            width="100%"
                            height="500"
                            frameborder="0"
                            scrolling="no"
                            marginheight="0"
                            marginwidth="0"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.343101790621!2d-73.57061258461636!3d45.50317143886354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91b3704190b9d%3A0x66b510ab9334993e!2sK%20RAJ%20DIAMOND%20INC.!5e0!3m2!1sen!2sus!4v1614675841301!5m2!1sen!2sus"
                          ></iframe>
                        </div>
                        <div class="support-white-bx-class-new">
                          <div class="row m-0">
                            <div class="col-md-4 bdr-right">
                              <div class="spt-btm-box-main text-center">
                                <div class="spt-btm-box-main-icon">
                                  <img src="assets/images/icon/sprt-bx-1.svg" alt=""/>
                                </div>
                                <p>K Raj Inc., Montreal, Quebec, CA</p>
                              </div>
                            </div>
                            <div class="col-md-4 bdr-right">
                              <div class="spt-btm-box-main text-center">
                                <div class="spt-btm-box-main-icon">
                                  <img src="assets/images/icon/sprt-bx-2.svg" alt=""/>
                                </div>
                                <p><a href="tel:+17165880555">+17165880555</a></p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="spt-btm-box-main text-center">
                                <div class="spt-btm-box-main-icon">
                                  <img src="assets/images/icon/sprt-bx-3.svg" alt=""/>
                                </div>
                                <p><a href="mailto:shyam@kukadia.co">shyam@kukadia.co</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay toggle-icon-main"></div>
  </main>
</div>
