<div class="container-fluid front-section">
  <app-front-header></app-front-header>
  <div class="row row-space-class">
    <div class="col-12 p-0">
      <div class="comn-hdr-bg-top text-center">
        <h1>About</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Why</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row inr-row-space">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tabs-section-text">
            <h2>Why Kukadia?</h2>
            <p>Kukadia Group of Companies is a premium brand that deals with Import-Export & Manufacturing of Diamonds for the past 30 years and more. With our valuable and supportive teammates, we continuously differentiate ourselves through trustworthiness, customer centricity, innovation and value driven business operations.</p>
            <p>We take pride in making each piece exceptionally unique and classic with a stunning craftsmanship-</p>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3>Handmade Superior Quality</h3>
              <ul>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt="" />
                    <p>We are committed to preserving tradition by providing handmade superior quality to the finest piece of Jewelry to attain 100% customer satisfaction. Our experts invest hundreds of hours in making unique designs on a highly advanced computer system. With our imported technology, we turn every stone into a perfect diamond. So call us now!</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3>Lifetime Guarantee</h3>
              <ul>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt="" />
                    <p>We offer a lifetime guarantee on any manufacturing defects and give you complete freedom to replace or exchange them with the latest designs so you can have something new always. Our one to one assistance will help you in finalizing the best diamond that provide guaranteed profitable deals to your valuable clients.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3>Eco Friendly</h3>
              <ul>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt="" />
                    <p>All of us here at Kukadia Group practice to make Jewelry without causing any harm to humans and Mother Nature. We offer fair trade and conflict free gemstones to add value to whatever you wear without affecting nature. For 30 years or more, we are serving our clients with the best pieces of Jewelry accompanied by grading certificates from GIA Institutes.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3>Expertise and Experience</h3>
              <ul>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt="" />
                    <p>With our three decades of experience, we have served millions of clients from all across the globe and have helped them make a confident diamond purchase from our exclusive collections. From selecting diamond and ring setting to polishing, we have renowned experience in how to achieve customer satisfaction. Contact us to take quality to the world.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3>Product And Services</h3>
              <ul>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt="" />
                    <p>We have a large assortment of products and services at our store that includes- certified diamonds, non certified diamonds or loose and rough diamonds and fancy color diamonds in versatile collections. Our wide array of jewelry designs have fetched us unanimous praise in the international market.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3>Our Presence</h3>
              <ul>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt="" />
                    <p>We are more than just a typical Jewelry store. At Kukadia Group, we create and maintain long lasting relationships with our clients no matter the location. Did we mention that you can find us in Canada and the USA? Come and join us in spreading the radiance around.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-front-footer></app-front-footer>
</div>
