<div class="container-fluid front-section">
  <app-front-header></app-front-header>
  <div class="row row-space-class">
    <div class="col-12 p-0">
      <div class="comn-hdr-bg-top text-center">
        <h1>Customer Care</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">T&C</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row inr-row-space">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tabs-section-text">
            <h2>Terms & Conditions</h2>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3>Terms of Service</h3>
              <p>Welcome to Kukadia Group Pvt. Ltd, an online purchase site of the best diamond you want.</p>
              <p>You can browse to find diamonds you need, select and purchase them on this site. Kindly go through the
                following terms and conditions and also the privacy policy. You must agree to the conditions to enable
                us to permit access to the site.</p>
              <p>Once access is given on you agreeing to the terms and conditions (T&C) they govern your relationship
                with Kukadia Group Pvt. Ltd., to the exclusion of any other agreement/document you might have signed
                with the company and current at the time of your accessing and using the website. Not only your shopping
                at the site, but your future visits and use of our company's services or the services of other
                affiliated companies are also governed by the same T&C unless they are found contrary to the guidelines
                and conditions already followed by them, in which case those conditions only will prevail. Insofar as
                the access to the website and purchases therefrom are concerned T&C will have precedence over any other
                document.</p>
              <p>Your order for purchase of goods selected by you after browsing the site amounts to an offer for
                purchase subject to standard site restrictions, merchant specific restrictions and T&C. The company,
                Kukadia Group reserves the right to change/alter/delete any of the clauses in T&C at its own discretion
                without any prior notice to you. It is therefore suggested that you go through the T&C from time to time
                to keep yourself abreast of any changes. It is understood that by agreeing to T&C, you have agreed to
                the revision in T&C that may take place from time to time.</p>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3>Terms and Conditions (T&C)</h3>
              <ul>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>Kukadia Group Pvt. Ltd. is the sole owner of the website kukadia.co. All the contents of the
                      website including text, site design, logos and data provided in the software, graphics and audios,
                      videos, icons, images etc. are wholly owned by the company.</p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>By registering on the website kukadia.co you have the right to browse the contents. Download and
                      print them for your personal reference only. You have no right to change/modify/alter any content
                      you have downloaded. Registration does not confer any other right on you.</p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>Any part of the content downloaded can be used for commercial purposes after obtaining prior
                      written permission from the company which will specify the scope and extent up to which the
                      content so downloaded can be commercially exploited.</p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>Unauthorized use of data downloaded for commercial purposes, passing the information contained in
                      the website to third parties unauthorized, or any other use for which specific permission has not
                      been obtained from the company will invite strict disciplinary and legal action.</p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>Unauthorized access to any part of this website or to any system /network related to this website
                      is prohibited.</p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>The access given is only for lawful purposes . Usage of the website that violates or affects the
                      rights of Kukadia Pvt. Ltd. in any way inclusive of posting/ transmitting through the website
                      unlawful/threatening/abusive/defamatory messages, messages that infringe on the privacy/publicity
                      rights, vulgar/obscene/objectionable messages etc.</p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>Use of access is meant for the person who has registered himself and for whom a password has been
                      given. It is not to be shared even temporarily with any third party.</p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>User is fully responsible for any transactions entered into using the password allotted to him.
                      Kukadia Group Pvt. Ltd. is not responsible for any consequences arising out of unauthorized use of
                      the password allotted. User is therefore advised to ensure that password is properly protected and
                      not allowed to get into unauthorized hands.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3>Selection of Diamond Stones</h3>
              <ul>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>A stone selected by you is subject to availability at the time of selection. As the same stones
                      are available at our physical sales section, the stones you have selected may have been sold just
                      minutes before your selection at our sales office. In such an event which is very rare, you have
                      to bear with us.</p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>
                      Local taxes if any are to be borne by the purchaser.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>Transactions are subject to jurisdiction of Mumbai, India</p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>KYC compliance is a must before completion of sale.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>Extra services required by the buyer will be charged separately.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3>Pricing</h3>
              <ul>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>Terms of sale: Advance Payment</p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>
                      We follow "Fair and Fixed Price Policy"
                    </p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>Under the above policy the price of a stone gets fixed once the sale is confirmed. However before
                      confirmation of the order, the price of goods is subject to change.</p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>The company reserves its right to correct/rectify any error including an error pertaining to the
                      price of a stone for which an order has been placed, if it is found that the error is a result of
                      system/data entry/technology or description of the stone is inaccurate that resulted in wrong
                      price display.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3>Payment</h3>
              <ul>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>As mentioned above, payment of all confirmed orders are to be made in advance and stones ordered
                      will be dispatched only after confirming that the payment has been received.</p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>Within five days of confirmation of the order full payment should be received by the company,
                      otherwise the order gets cancelled.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3>Shipment</h3>
              <ul>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>Shipping will be affected on confirmation of receipt of advance payment of the order. Door to
                      door insurance will be covered by the courier. The company reserves the right to refuse shipments
                      to certain international destinations.</p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>Shipping and other services are available at the expense of the buyer. In some instances and for
                      some products fees for these services may be waived by Kukadia Group.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3>Cancellation of Orders</h3>
              <ul>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt=""/>
                    <p>Kukadia Group beholds the right to cancel certain orders due to some unavoidable circumstances.
                      Limitations on quantities available for purchase, inaccuracies or errors in product or pricing
                      information, or problems identified by our credit and fraud avoidance department are certain
                      issues that withdraw us from processing your order further. Before accepting any order we may also
                      require some additional information for verification/s. You will be kept in loop with Kukadia
                      Group and the action taken in relation to the mentioned situations.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-front-footer></app-front-footer>
</div>
