<div class="container-fluid front-section">
  <app-front-header></app-front-header>
  <div class="row row-space-class">
    <div class="col-12 p-0">
      <div class="comn-hdr-bg-top text-center">
        <h1>Our Brands & Entities</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Brands Entity</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row inr-row-space position-relative overflow-hidden">
    <div class="team-shap">
      <img src="assets/images/icon/diamond-shape.svg" alt=""/>
    </div>
    <div class="team-shap-2">
      <img src="assets/images/icon/diamond-shape.svg" alt=""/>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="brnd-logo-section">
            <div class="brnd-logo text-center">
              <img src="assets/images/icon/brand-kukadia-main-logo.svg" alt=""/>
            </div>
            <div class="brnd-logo-inr position-relative">
              <div class="brnd-logo-inr-line"></div>
              <ul class="d-md-flex">
                <li class="col">
                  <span>Diamonds</span>
                  <div class="row pt-3">
                    <div class="col-6">
                      <div class="text-center logo-brand-kukadia logo-comn">
                        <img src="assets/images/icon/brand-kukadia-main-logo.svg" alt="" class="img-fluid"/>
                        <div class="flg-section">
                          <img src="assets/images/india-flag.svg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="text-center">
                        <img src="assets/images/icon/kukadia-corporation.svg" alt="" class="img-fluid"/>
                        <div class="flg-section">
                          <img src="assets/images/usa-flag.svg" class="mx-1" alt="">
                          <img src="assets/images/canada-flag.svg" class="mx-1" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="col">
                  <span class="ctr-span-class">Jewelry</span>
                  <div class="row pt-3">
                    <div class="col-12">
                      <div class="text-center ctr-logo">
                        <img src="assets/images/icon/striliant-jewelry-img.svg" alt="" class="img-fluid"/>
                        <div class="flg-section">
                          <img src="assets/images/usa-flag.svg" class="mx-1" alt="">
                          <img src="assets/images/canada-flag.svg" class="mx-1" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="col">
                  <span>Textile</span>
                  <div class="row pt-3">
                    <div class="col-12">
                      <div class="text-center">
                        <img src="assets/images/icon/kukadia-lifestyle.svg" alt="" class="img-fluid"/>
                        <div class="flg-section">
                          <img src="assets/images/india-flag.svg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row inr-row-space class-p-tag">
    <div class="container">
      <div class="row inr-row-space align-items-center">
        <div class="col-lg-6">
          <div class="brands-diamond-img">
            <img src="assets/images/brand-diamonds-img.png" alt="brand-diamonds-img" class="img-fluid"/>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="infra-div-text">
            <h3>Diamond</h3>
            <p>From rough to retail, Kukadia Ventures Private Limited and Kukadia Corporation have become a market
              leader in Certified Diamonds, Non-Certified Diamonds and Fancy Diamonds. It is one of the major
              manufacturers & distributors of Polished and Loose Diamonds and a broad supplier to Traders, Retailers and
              B2B Clients globally. We believe in adding value to customer satisfaction by constantly expanding our base
              and options in product offering and delivering high quality diamonds with no blemishes, and no inclusion.
              Equipped with imported machinery and high skilled personnel, we test and inspect every diamond on a
              grading scale and leave no chance for errors because we know every diamond has a story to tell that binds
              emotion and love.</p>
          </div>
          <div class="row pt-3">
            <div class="col-6">
              <div class="logo-comn bdr-fix">
                <img src="assets/images/icon/brand-kukadia-main-logo.svg" alt="" class="img-fluid"/>
                <div class="flg-section text-center">
                  <img src="assets/images/india-flag.svg" alt="">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="logo-comn border-right-0 bdr-fix">
                <img src="assets/images/icon/kukadia-corporation.svg" alt="" class="img-fluid"/>
                <div class="flg-section ml-lg-5">
                  <img src="assets/images/canada-flag.svg" class="mx-1" alt="">
                  <img src="assets/images/usa-flag.svg" class="mx-1" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row inr-row-space align-items-center">
        <div class="col-lg-6 order-1 order-lg-0">
          <div class="infra-div-text">
            <h3>Jewelry</h3>
            <p>Striliant started in 2020 has the best collection of jewelry to play up or play down with any outfit.
              Presented in the USA and Canada, we have a team of leading and technically advanced jewelry manufacturers
              who have partnered with Striliant in delivering the most unique and chic piece of jewelry with an elegant
              finish. From the first sketch to the final embellishment, we make sure you won’t find unique pieces
              anywhere else because being unique is our identity. Visit our jewelry store and explore breakthrough
              collections with ravishing pieces to make any occasion more than just special.</p>
          </div>
          <div class="row pt-3">
            <div class="col-lg-6">
              <div class="logo-comn border-0 p-0">
                <img src="assets/images/icon/striliant-jewelry-img.svg" alt="" class="img-fluid"/>
                <div class="flg-section ml-lg-3">
                  <img src="assets/images/canada-flag.svg" class="mx-1" alt="">
                  <img src="assets/images/usa-flag.svg" class="mx-1" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="brands-diamond-img text-lg-right text-center">
            <img src="assets/images/brand-jewelry-img.png" alt="" class="img-fluid"/>
          </div>
        </div>
      </div>
      <div class="row inr-row-space align-items-center">
        <div class="col-lg-6">
          <div class="brands-diamond-img">
            <img src="assets/images/brand-textile-img.png" alt="" class="img-fluid"/>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="infra-div-text">
            <h3>Textile</h3>
            <p>Incorporated in 2016, Kukadia Lifestyle LLP is one of the leading and most trusted manufacturers and
              suppliers of Women’s Apparel and home furnishing. By conceptualizing ideas, and needling with trendy
              designs, our stitching masters and designers put in a continuous effort to crave a dominant position in
              the market. As a part of the forward integration form of manufacturing, we have launched our own label to
              deliver the best quality of fabric and designer look to the customers. Kukadia Lifestyle LLP has now
              invested in world class production and textile manufacturing machinery that are imported from the
              international boundary – China to cater as per different needs of production flexibility. We put in
              world-class ethical business practices, along with advanced technology and have earned the commercial
              business respect.</p>
          </div>
          <div class="row pt-3">
            <div class="col-lg-6">
              <div class="logo-comn border-right-0">
                <img src="assets/images/icon/kukadia-lifestyle.svg" alt="" class="img-fluid"/>
                <div class="flg-section ml-lg-5">
                  <img src="assets/images/india-flag.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-front-footer></app-front-footer>
</div>
