<div class="container-fluid front-section">
  <app-front-header></app-front-header>
  <div class="row row-space-class">
    <div class="col-12 p-0">
      <div class="comn-hdr-bg-top text-center">
        <h1>blog details</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">blog details</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!--  <div class="row inr-row-space">-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->
  <!--        <div class="col-12">-->
  <!--          <div class="blog-section-inr">-->
  <!--            <img src="{{blog_img}}" alt="" />-->
  <!--            <span>{{created_at | date}}</span>-->
  <!--            <h3>{{title}}</h3>-->
  <!--            <p>{{description}}</p>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <div class="row inr-row-space">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="blog-dtl-main">
            <div class="blog-section-inr">
              <img src="{{blog_img}}" alt=""/>
              <span>{{created_at | date}}</span>
              <h2>{{title}}</h2>
              <p>{{description}}</p>
              <p>{{description}}</p>
            </div>
            <div class="btn-comn-div pt-3">
              <a href="" class="btn-comn"><span>Get a free quote</span></a>
            </div>
          </div>
          <div class="blog-dtl-main py-5">
            <div class="blog-section-inr">
              <h2>Lorem Ipsum is simply dummy text</h2>
              <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of
                letters, as opposed to using 'Content here, content here', making it look like readable English. It is a
                long established fact that a reader will be distracted by the readable content of a page when looking at
                its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                letters.It is a long established fact that a reader will be distracted by the readable content of a page
                when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English.
              </p>
              <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of
                letters.
              </p>
            </div>
            <div class="ctr-blog-dtl-main">
              <div class="ctr-blog-dtl-main-inr">
                <span>1. Lorem ipsum : </span>
                <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of
                  letters.
                </p>
              </div>
              <div class="ctr-blog-dtl-main-inr">
                <span>2. Lorem ipsum : </span>
                <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of
                  letters.
                </p>
              </div>
              <div class="ctr-blog-dtl-main-inr">
                <span>3. Lorem ipsum : </span>
                <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of
                  letters.
                </p>
              </div>
            </div>
          </div>
          <div class="bg-row-main">
            <div class="grp-fix-img">
              <img src="assets/images/group-image.png" alt="">
            </div>
            <div class="bg-shap-row">
              <h2>Lorem Ipsum is simply dummy text</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="position-relative fix-btm">
              <a href="" class="btn-comn"><span>Contact Us</span></a>
            </div>
            <div class="fix-btm-div d-none">
              <img src="assets/images/fix-btm-image.png" alt="">
            </div>
          </div>
          <div class="blog-dtl-main">
            <div class="blog-dtl-main-inr pb-3">
              <h2>Lorem Ipsum is simply dummy text</h2>
              <ul>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt="">
                    <p>
                      It is a long established fact that a reader will be distracted by the readable content of a page
                      when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                      distribution of letters, as opposed to using 'Content here, content here', making it look like
                      readable English.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt="">
                    <p>
                      It is a long established fact that a reader will be distracted by the readable content of a page
                      when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                      distribution of letters.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt="">
                    <p>
                      It is a long established fact that a reader will be distracted by the readable content of a page
                      when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                      distribution of letters, as opposed to using 'Content here, content here', making it look like
                      readable English.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-start">
                    <img src="assets/images/icon/list-type2.svg" alt="">
                    <p>
                      It is a long established fact that a reader will be distracted by the readable content of a page
                      when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                      distribution of letters.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="btn-comn-div pt-3">
              <a routerLink="/" class="btn-comn"><span>Shop Collection</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row inr-row-space">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="comn-title-shap text-center">
            <h2>Recent Blog</h2>
            <div class="comn-title-shap-imgs d-flex align-items-center justify-content-center">
              <img src="assets/images/icon/left-title-shap.svg" alt="">
              <span class="mx-2"><img src="assets/images/icon/title-shap-logo.svg" alt=""></span>
              <img src="assets/images/icon/right-title-shap.svg" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="blog-section-inr">
            <img src="assets/images/blog-1.png" alt="">
            <span>12th dec 2020 5:20PM</span>
            <h3>Solid Gold</h3>
            <p>Solid gold is a precious metal that will not oxidize or discolor since it is the least reactive
              metal.</p>
            <a routerLink="/blog-details" class="d-inline-flex align-items-center">
              Read More
              <img src="assets/images/icon/more-arrow.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="blog-section-inr">
            <img src="assets/images/blog-2.png" alt="">
            <span>12th dec 2020 5:20PM</span>
            <h3>High Quality</h3>
            <p>We work with expert jewelers who use high quality and enduring materials. From precious metals, set with
              genuine gemstones and ethically sourced diamonds.</p>
            <a routerLink="/blog-details" class="d-inline-flex align-items-center">
              Read More
              <img src="assets/images/icon/more-arrow.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="blog-section-inr">
            <img src="assets/images/blog-3.png" alt="">
            <span>12th dec 2020 5:20PM</span>
            <h3>Gold Vermeil</h3>
            <p>For a piece to be considered gold vermeil, the gold must be a minimum of 10k and 1.5 microns. We use 18k
              gold layered on sterling silver.</p>
            <a routerLink="/blog-details" class="d-inline-flex align-items-center">
              Read More
              <img src="assets/images/icon/more-arrow.svg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="socl-icon-fix d-none">
    <ul>
      <li>
        <a href="https://www.facebook.com/kukadia.co" target="_blank">
          <img src="assets/images/facebook-icon-top-.svg" alt="">
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/kukadia.co/" target="_blank">
          <img src="assets/images/instagram-icon-top-.svg" alt="">
        </a>
      </li>
      <li>
        <a href="">
          <img src="assets/images/twitter-icon-top-.svg" alt="">
        </a>
      </li>
      <li>
        <a href="">
          <img src="assets/images/youtube-icon-top-.svg" alt="">
        </a>
      </li>
    </ul>
  </div>
  <app-front-footer></app-front-footer>
</div>
