<div class="dash-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <main class="content-wrapper-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="inr-title-comn d-sm-flex align-items-center">
            <h3>Trade Center</h3>
            <div class="inr-title-btn ml-auto">
              <button type="button" class="btn-inr-top">Trade Center</button>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="dash-box-white">
            <div class="dash-comn-tabs">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="pills-Sell-tab" data-toggle="pill" href="#pills-Sell" role="tab" aria-controls="pills-Sell" aria-selected="true">Sell (0)</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pills-Buy-tab" data-toggle="pill" href="#pills-Buy" role="tab" aria-controls="pills-Buy" aria-selected="false">
                    Buy (0)
                  </a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-Sell" role="tabpanel" aria-labelledby="pills-Sell-tab">
                  <div class="main-chat-scrl-div">
                    <div class="row">
                      <div class="col-xl col-lg-4 d-flex flex-column mb-lg-0 mb-3">
                        <div class="left-sde-chat-bg">
                          <div class="src-box-main-chart">
                            <ul class="d-flex align-items-center justify-content-end">
                              <li class="dropdown">
                                <a href="javascript(void);" id="filter-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <img src="assets/images/icon/filter-icon.svg" alt="" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="filter-dropdown">
                                  <a class="dropdown-item" href="#">Newest First</a>
                                  <a class="dropdown-item" href="#">Last Activity</a>
                                </div>
                              </li>
                              <li>
                                <img src="assets/images/icon/list-icon.svg" alt="" />
                              </li>
                            </ul>
                            <div class="input-group my-3">
                              <div class="input-group-prepend">
                                                            <span class="input-group-text border-left">
                                                                <img src="assets/images/icon/search-icon.svg" alt="" />
                                                            </span>
                              </div>
                              <input type="text" value="" class="form-control input-style border-left-0" placeholder="Search" />
                            </div>
                          </div>
                          <div class="left-sde-body">
                            <div class="left-sde-body-inr">
                              <div class="d-flex align-items-center">
                                <div class="cust-checkbox-new">
                                  <label class="cust-chk-bx">
                                    <input type="checkbox" />
                                    <span class="cust-chkmark"></span>
                                  </label>
                                </div>
                                <div class="d-flex align-items-center lft-text-inr ml-4">
                                  <div class="lft-text-inr-imgs"><img src="assets/images/icon/dash-list-1.svg" alt="" /></div>
                                  <div class="ml-2">
                                    <h6 title="title here">Round, 1.09, I, SI2, EX, EX,....</h6>
                                    <span>Yesterday</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="left-sde-body-inr">
                              <div class="d-flex align-items-center">
                                <div class="cust-checkbox-new">
                                  <label class="cust-chk-bx">
                                    <input type="checkbox" />
                                    <span class="cust-chkmark"></span>
                                  </label>
                                </div>
                                <div class="d-flex align-items-center lft-text-inr ml-4">
                                  <div class="lft-text-inr-imgs"><img src="assets/images/icon/dash-list-1.svg" alt="" /></div>
                                  <div class="ml-2">
                                    <h6 title="title here">Round, 1.09, I, SI2, EX, EX,....</h6>
                                    <span>Yesterday</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="left-sde-body-inr active">
                              <div class="left-sde-body-inr-info-div">
                                <div class="">
                                  <h6>Replacement Services LLC</h6>
                                  <span>$0</span>
                                </div>
                                <div class="sde-body-inr-info">
                                  <img src="assets/images/icon/user-ic.svg" alt="" />
                                </div>
                              </div>
                            </div>
                            <div class="left-sde-body-inr">
                              <div class="left-sde-body-inr-info-div">
                                <div class="">
                                  <h6>Replacement Services LLC</h6>
                                  <span>$0</span>
                                </div>
                                <div class="sde-body-inr-info">
                                  <img src="assets/images/icon/user-ic.svg" alt="" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-5 col-lg-4 d-flex flex-column mb-lg-0 mb-3">
                        <div class="chat-src-box-inner">
                          <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                              <div class="d-flex align-items-center lft-text-inr">
                                <div class="lft-text-inr-imgs"><img src="assets/images/icon/dash-list-1.svg" alt="" /></div>
                                <div class="ml-2">
                                  <h6 title="title here">Round, 1.09, I, SI2, EX, EX,....</h6>
                                  <span>with SANGHVI & SONS</span>
                                </div>
                              </div>
                            </div>
                            <ul class="d-flex align-items-center justify-content-end">
                              <li class="ml-2 dropdown">
                                <a href="javascript(void);" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <img src="assets/images/icon/user-ic.svg" alt="" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="user-dropdown">
                                  <a class="dropdown-item" href="#">Yossi Ben Adato</a>
                                </div>
                              </li>
                              <li class="ml-2 dropdown">
                                <a href="javascript(void);" id="raed-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <img src="assets/images/icon/bar-type-icon.svg" alt="" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="raed-dropdown">
                                  <a class="dropdown-item" href="#">Mark as unread</a>
                                  <a class="dropdown-item" href="#">Delete Offer</a>
                                  <a class="dropdown-item" href="#">View offers from this buyer</a>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div class="pt-4">
                            <div class="left-sde-body-inr-info-div">
                              <div class="">
                                <h6>Aug 28th 2020, 8:45 am</h6>
                                <span>SANGHVI & SONS submitted an offer with the price $2403.0</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="chat-container-wrapper">
                          <div class="chat-bubble-main">
                            <div class="chat-bubble incoming-chat">
                              <div class="chat-bubble-imgs">
                                <img src="assets/images/chat-1.png" alt="" />
                                <h6>Rahul Jain</h6>
                              </div>
                              <div class="chat-message">
                                <p>No bgm, Any milky or cloudy ?</p>
                                <span>8:45 AM</span>
                                <div class="shap-pos">
                                  <img src="assets/images/icon/tri-shap.svg" alt="" />
                                </div>
                              </div>
                            </div>
                            <div class="chat-bubble outgoing-chat">
                              <div class="chat-message">
                                <p>Yes it’s brown and milky</p>
                                <span>8:45 AM</span>
                                <div class="shap-pos">
                                  <img src="assets/images/icon/tri-shap.svg" alt="" />
                                </div>
                              </div>
                              <div class="chat-bubble-imgs">
                                <img src="assets/images/chat-1.png" alt="" />
                                <h6>Yossi Ben Adato</h6>
                              </div>
                            </div>
                            <div class="chat-bubble incoming-chat">
                              <div class="chat-bubble-imgs">
                                <img src="assets/images/chat-1.png" alt="" />
                                <h6>Rahul Jain</h6>
                              </div>
                              <div class="chat-message">
                                <p>No bgm, Any milky or cloudy ?</p>
                                <span>8:45 AM</span>
                                <div class="shap-pos">
                                  <img src="assets/images/icon/tri-shap.svg" alt="" />
                                </div>
                              </div>
                            </div>
                            <div class="chat-bubble outgoing-chat">
                              <div class="chat-message">
                                <p>Yes it’s brown and milky</p>
                                <span>8:45 AM</span>
                                <div class="shap-pos">
                                  <img src="assets/images/icon/tri-shap.svg" alt="" />
                                </div>
                              </div>
                              <div class="chat-bubble-imgs">
                                <img src="assets/images/chat-1.png" alt="" />
                                <h6>Yossi Ben Adato</h6>
                              </div>
                            </div>
                            <div class="chat-bubble incoming-chat">
                              <div class="chat-bubble-imgs">
                                <img src="assets/images/chat-1.png" alt="" />
                                <h6>Rahul Jain</h6>
                              </div>
                              <div class="chat-message">
                                <p>No bgm, Any milky or cloudy ?</p>
                                <span>8:45 AM</span>
                                <div class="shap-pos">
                                  <img src="assets/images/icon/tri-shap.svg" alt="" />
                                </div>
                              </div>
                            </div>
                            <div class="chat-bubble outgoing-chat">
                              <div class="chat-message">
                                <p>Yes it’s brown and milky</p>
                                <span>8:45 AM</span>
                                <div class="shap-pos">
                                  <img src="assets/images/icon/tri-shap.svg" alt="" />
                                </div>
                              </div>
                              <div class="chat-bubble-imgs">
                                <img src="assets/images/chat-1.png" alt="" />
                                <h6>Yossi Ben Adato</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="chat-text-field mt-auto">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Type Messege here....." />
                            <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <a href="">
                                                                <img src="assets/images/icon/attach-icon.svg" alt="" />
                                                            </a>
                                                            <a href="">
                                                                <img src="assets/images/icon/subject-icon.svg" alt="" />
                                                            </a>
                                                        </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl col-lg-4">
                        <div class="right-side-chat-section">
                          <div class="right-side-chat-section-top">
                            <div class="lft-text-inr-imgs">
                              <img src="assets/images/icon/dash-list-1.svg" alt="" />
                            </div>
                            <div class="text-center text-top py-3">
                              <h6>Round, 1.09, I, SI2, EX, EX,....</h6>
                              <span>GIA # 6193453179</span>
                            </div>
                            <div class="copy-text-section">
                              <div class="copy-text-section-inr d-flex align-items-center justify-content-between">
                                <p>Stock #</p>
                                <div class="d-flex align-items-center">
                                  <span>3924</span>
                                  <img src="assets/images/icon/copy-icon.svg" alt="" class="ml-3" />
                                </div>
                              </div>
                              <div class="copy-text-section-inr d-flex align-items-center justify-content-between">
                                <p>Lock #</p>
                                <div class="d-flex align-items-center">
                                  <span>117743175</span>
                                  <img src="assets/images/icon/copy-icon.svg" alt="" class="ml-3" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="right-side-chat-sectio-body mt-4">
                            <div class="dash-colps-main">
                              <div class="dash-colps-main-hdr" data-toggle="collapse" href="#Sale-Conditions" role="button" aria-expanded="false" aria-controls="Sale-Conditions">
                                Sale Conditions
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                              </div>
                              <div class="dash-colps-main-body collapse" id="Sale-Conditions">
                                <div class="dash-colps-inr-main">
                                  <ul class="sls-condi clearfix mb-3">
                                    <li>$/CT</li>
                                    <li>$8,100</li>
                                    <li>RAP%</li>
                                    <li>-46.0%</li>
                                    <li>Total $</li>
                                    <li>$16,605</li>
                                    <li>Availability</li>
                                    <li>-</li>
                                    <li>Location</li>
                                    <li>Denver, USA</li>
                                    <li>Shipping</li>
                                    <li>-</li>
                                    <li>Status</li>
                                    <li>In Negotiation</li>
                                  </ul>
                                  <button type="button" class="btn-prvw d-block m-auto">
                                    <span class="">See Negotiation Terms</span>
                                  </button>
                                  <a href="" class="cnl-ofr">Cancel offer</a>
                                </div>
                              </div>
                            </div>
                            <div class="dash-colps-main">
                              <div class="dash-colps-main-hdr" data-toggle="collapse" href="#Account-Rating" role="button" aria-expanded="true" aria-controls="Account-Rating">
                                Account Rating
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                              </div>
                              <div class="dash-colps-main-body collapse show" id="Account-Rating">
                                <div class="dash-colps-inr-main">
                                  <div class="account-section">
                                    <div class="account-section-top text-center">
                                      <img src="assets/images/acc-logo.png" alt="" />
                                      <h6>SANGHVI & SONS</h6>
                                      <span>RapNet ID 52372</span>
                                    </div>
                                    <div class="account-section-body">
                                      <div class="row mr-0">
                                        <div class="col-sm-6 pr-0">
                                          <ul>
                                            <li>21 Ratings</li>
                                            <li>19 Positive</li>
                                            <li>02 Negativev</li>
                                          </ul>
                                        </div>
                                        <div class="col-sm-6 pr-0">
                                          <div class="chart-div">
                                            add chart
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="account-section-btm mt-5">
                                      <button type="button" class="btn-inr-top w-100 d-block">Send Invoice</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-Buy" role="tabpanel" aria-labelledby="pills-Buy-tab">
                  2
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay toggle-icon-main"></div>
  </main>
</div>
