.dash-comn-tabs .nav-link {
  color: var(--color-dark);
  background: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 16px;
  font-weight: 600;
  border: 1px solid #cbd5dc;
}

.dash-comn-tabs .nav-link.active {
  background: var(--thm-color-light);
  color: var(--thm-color);
}

.dash-comn-tabs .nav-item:first-child a {
  border-radius: 6px 0px 0px 6px;
  -webkit-border-radius: 6px 0px 0px 6px;
  -moz-border-radius: 6px 0px 0px 6px;
  border-right: 0;
}

.dash-comn-tabs .nav-item:last-child a {
  border-radius: 0px 6px 6px 0px;
  -webkit-border-radius: 0px 6px 6px 0px;
  -moz-border-radius: 0px 6px 6px 0px;
  border-left: 0;
}

.main-chat-scrl-div {
  height: calc(100vh - 300px);
  overflow: hidden;
  border-top: 1px solid #cbd5dc;
  padding-top: 20px;
}

.left-sde-chat-bg {
  background: #ffffff;
  border: 1px solid #f1f5f8;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 0;
}

.src-box-main-chart img {
  width: 20px;
}

.src-box-main-chart {
  padding: 15px 15px 0 15px;
}

.src-box-main-chart ul li {
  margin-left: 10px;
}

.lft-text-inr-imgs {
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 50px;
  min-width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lft-text-inr h6 {
  color: #232323;
  font-size: 13px;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lft-text-inr span {
  color: var(--color-dark);
  font-size: 13px;
  font-weight: 500;
}

.left-sde-body-inr {
  padding: 15px;
}

.left-sde-body-inr-info-div h6 {
  color: #232323;
  font-size: 13px;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 700;
}

.left-sde-body-inr-info-div {
  border: 0.402174px solid #cbd5dc;
  border-radius: 4.02174px;
  -webkit-border-radius: 4.02174px;
  -moz-border-radius: 4.02174px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 7px 15px 15px;
  position: relative;
  overflow: hidden;
}

.left-sde-body-inr-info-div span {
  color: var(--color-dark);
  font-size: 13px;
  font-weight: 500;
}

.sde-body-inr-info {
  padding: 0px 15px 0 20px;
  position: relative;
}

.sde-body-inr-info:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  border-left: 0.402174px solid #cbd5dc;
  left: 0;
  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
}

.left-sde-body {
  height: calc(100vh - 450px);
  overflow-y: auto;
  max-height: 100%;
  overflow-x: hidden;
}

.chat-container-wrapper {
  height: calc(100vh - 555px);
  overflow-y: auto;
  max-height: 100%;
}

.chat-bubble-imgs img {
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.chat-message {
  background: #f8f8f8;
  border-radius: 5.93027px;
  -webkit-border-radius: 5.93027px;
  -moz-border-radius: 5.93027px;
  padding: 10px;
  position: relative;
  margin-bottom: 50px;
}

.chat-message p {
  color: var(--color-dark);
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
}

.chat-message span {
  color: var(--color-dark);
  font-size: 13px;
  font-weight: 500;
  text-align: right;
  display: block;
}

.incoming-chat .chat-message {
  margin-left: 5px;
}

.outgoing-chat .chat-message {
  margin-right: 5px;
}

.chat-bubble-imgs {
  text-align: center;
  width: 110px;
}

.chat-bubble-imgs h6 {
  color: #232323;
  font-size: 13px;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 5px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-bubble {
  padding: 10px 0;
  display: flex;
  align-items: flex-end;
}

.outgoing-chat {
  justify-content: flex-end;
}

.shap-pos {
  position: absolute;
  left: -15px;
  bottom: -3px;
}

.outgoing-chat .shap-pos {
  right: -10px;
  left: auto;
}

.chat-text-field .form-control {
  background: #f5fef9;
  border: 1px solid rgba(3, 54, 3, 0.1);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  outline: none;
  color: var(--thm-color);
  padding: 10px 50px 10px 12px;
  height: 55px;
  font-weight: 600;
  border-right: 0;
}

.chat-text-field .input-group-text {
  background: #f5fef9;
  border-left: 0;
  border-top-right-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-bottom-right-radius: 30px;
}

.chat-text-field .input-group-text a img {
  width: 25px;
  margin: 0 10px;
}

.lft-text-inr .ml-2 {
  display: grid;
}

.text-top h6 {
  color: #232323;
  font-size: 13px;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 700;
}

.text-top span {
  color: var(--color-dark);
  font-size: 13px;
  font-weight: 500;
}

.dash-colps-main {
  margin-bottom: 15px;
}

.dash-colps-main-hdr {
  background: #f8f8f8;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #232323;
  text-transform: capitalize;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  height: 50px;
}

.dash-colps-main-hdr[aria-expanded="true"] {
  color: var(--thm-color);
}

.dash-colps-main-hdr i {
  color: var(--color-dark);
  font-size: 30px;
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.dash-colps-main-hdr[aria-expanded="true"] i:before {
  font-family: "FontAwesome";
  content: "\f106";
  vertical-align: middle;
  position: absolute;
  right: 15px;
  top: 9px;
}

.dash-colps-inr-main {
  padding: 10px 0;
}

.btn-prvw {
  background: #f8f8f8;
  color: var(--color-dark) !important;
  padding: 13px 25px;
  font-size: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  border: 1px solid #cbd5dc;
  outline: none;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.right-side-chat-section .lft-text-inr-imgs {
  width: 100px;
  min-width: 100px;
  height: 100px;
  margin: 0 auto;
}

.right-side-chat-section {
  background: #ffffff;
  border: 1px solid #f1f5f8;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 100%;
  padding: 15px;
  height: calc(100vh - 325px);
  padding: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.right-side-chat-section .lft-text-inr-imgs img {
  width: 45px;
}

.copy-text-section-inr p {
  margin-bottom: 0;
  color: var(--color-dark);
  font-size: 14px;
  font-weight: 600;
}

.copy-text-section-inr span {
  color: var(--color-dark);
  font-size: 13px;
  font-weight: 500;
}

.copy-text-section-inr img {
  cursor: pointer;
}

.copy-text-section-inr {
  border-bottom: 0.469624px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

.sls-condi li {
  display: inline-block;
  float: left;
  width: 50%;
  color: var(--color-dark);
  font-size: 13px;
  font-weight: 500;
  margin: 10px 0;
}

.cnl-ofr {
  color: #ff0000;
  text-align: center;
  display: block;
  margin: 15px 0 0 0;
  font-weight: 600;
}

.account-section-top img {
  width: 55px;
}

.account-section-top h6 {
  color: #232323;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
}

.account-section-top span {
  color: var(--color-dark);
  font-size: 13px;
  font-weight: 600;
}

.account-section-body ul li {
  color: var(--color-dark);
  font-size: 14px;
  font-weight: 500;
  margin: 5px 0;
}

@media (max-width: 991px) {
  .main-chat-scrl-div {
    height: auto;
  }
}
