<div class="container-fluid front-section">
  <app-front-header></app-front-header>
  <div class="row row-space-class">
    <div class="col-12 p-0">
      <div class="comn-hdr-bg-top text-center">
        <h1>About</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Policy</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row inr-row-space">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tabs-section-text">
            <h2>Policy</h2>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <p>
                Kukadia Group (the "Group" or "we" or "our" or "us" (which expressions shall mean and include any entity
                of the Kukadia Group and all its other affiliates, associates, joint ventures or related or connected
                entities, as applicable) consider the privacy and protection of our customer's personal data to be of
                high importance. Our practices and procedures in relation to the collection and use of personal data
                have been set-out below in order to ensure the safe usage of the Website for you.
              </p>
              <p>We have implemented reasonable security practices and procedures to commensurate with the information
                assets and protected them with the nature of our business. While we try our best to provide security
                that is better than the industry standards, because of the inherent vulnerabilities of the internet, we
                cannot ensure or warrant complete security of all information that is being transmitted to us by you.
                Our Privacy Policy is subject to change at any time without notice. To make sure you are aware of any
                changes, please review this policy periodically. By visiting this Website, you agree to be bound by the
                terms and conditions of this Privacy Policy.</p>
              <p>At Kukadia Ventures Private Limited, we are strongly committed to protecting the personal information
                that you submit to us. We respect your privacy policy and thus intended to keep your personal
                information secure and private. However, please note that we are not responsible for any use of your
                personal information you provide to third-party applications or websites that may be accessed via the
                Products or Websites. We recommend that you review the privacy policy of any third-party applications or
                websites that you use.</p>
            </div>
            <div class="tabs-section-text-inr my-2 mb-3 table-box-shadow">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>SR. NO.</th>
                    <th>ON YOUR PURCHASE OF</th>
                    <th>ADVANTAGE WE OFFER</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>US$ 00</td>
                    <td>0.0%</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>US$ 00</td>
                    <td>0.0%</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>US$ 00</td>
                    <td>0.0%</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>US$ 00</td>
                    <td>0.0%</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>US$ 00</td>
                    <td>0.0%</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3><b>Indemnity</b></h3>
              <p>Your use of this website is at your sole risk. Under no circumstances, shall Kukadia group be liable
                for any direct or indirect losses or damages arising out of or in connection with your use of or
                inability to use this website or your reliance on any information provided on this website. This is a
                comprehensive limitation of liability that applies to all losses and damages of any kind whatsoever,
                whether direct or indirect, general, special, incidental, consequential, exemplary or otherwise,
                including without limitation, loss of data, revenue or profits.</p>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3><b>Collection of Personal Information</b></h3>
              <p>By accepting this privacy policy, you authorize Kukadia Group to collect, store and use any information
                that you provide on our Website or applications. The information collected by us is entered by you on
                our website and applications such as your name, address, contact number, email ID , chat history , and
                such other information sent by you via emails to our email ID. Information collected by means of cookies
                that are installed on your hard drive.</p>
              <p>Information such as the IP Address of your computer, the server from which you are accessing our
                website and applications, details of the web browser and operating system used to access our website or
                applications, date, time and place of accessing our website and applications etc. You may withdraw your
                consent at any time by emailing us on (EMAIL address). We will return or destroy your personal
                information within five days of receiving your withdrawal of consent.</p>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3><b>Use of Personal Information</b></h3>
              <p>Kukadia Group owns all the information collected via the Website or applications installed on the
                website or applications. As applicable, the information collected by Kukadia Group shall be used to
                contact you about the Website or applications and related news and Services available on the Website or
                applications; to monitor and improve the Website or applications; calculate the number of visitors to
                the Website or applications and to know the geographical locations of the visitors; so we can update you
                with the best offers and discounts on any product or service at our Website or applications.</p>
              <p>This includes sending emails intimating the various offers on the website or applications. You may at
                any time choose to unsubscribe from such email. Some of your information may be shared with and used by
                third parties who shall need to have access to Information, such as courier companies, credit card
                processing companies, vendors etc. to enable them and Kukadia Group perform their duties and fulfill
                your order requirements.</p>
              <p>We do not allow any unauthorized person or organization to use any information that we may collect from
                you through the Website and applications. However, our applications are not responsible for any
                information collected or shared or used by any other third party website or mobile applications due to
                your browser settings.</p>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3><b>Security</b></h3>
              <p>Kukadia Group is committed to the protection of the personally identifiable information that you share
                with us. We utilize a combination of physical and electronic security technologies, procedures, and
                organizational measures to help protect your personally identifiable information from unauthorized
                access, use or disclosure. When we transfer sensitive personal information (for example, credit card
                information) over the Internet, we protect it using Secure Sockets Layer (SSL) encryption technology.
                While we strive to safeguard your personal information once we receive it, no transmission of data over
                the Internet or any other public network can be guaranteed to be 100% secure and, accordingly, we cannot
                guarantee or warrant the security of any information you disclose or transmit to us.</p>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <h3><b>Your Consent</b></h3>
              <p>By using our website, you consent to the collection and use of the information you provide to us as
                outlined in this Privacy Policy. We may change this Privacy Policy from time to time and without notice.
                If we change our Privacy Policy, we will publish those changes on this page. If users have any questions
                or suggestions regarding our privacy policy, please contact us. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-front-footer></app-front-footer>
</div>
