<div class="container-fluid front-section">
  <app-front-header></app-front-header>
  <div class="row row-space-class">
    <div class="col-12 p-0">
      <div class="comn-hdr-bg-top text-center">
        <h1>Educational</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">K’s 4C’s</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row inr-row-space">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-10 m-auto">
          <div class="tabs-section-text">
            <h2>4C's</h2>
            <p>
              Every Diamond is unique and special. It symbolizes eternal love and commitment to respect and cherish
              one another for the rest of life for centuries.
            </p>
            <p>
              So, when it comes to buying the perfect diamond Jewelry or masterpieces, you can’t settle for less. You
              need to understand the 4C’s of Diamond for making the ideal selection. Let’s discuss this in detail-
            </p>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <img src="assets/images/infra-img-1.png" class="img-full-width my-4" alt=""/>
              <p>
                Diamond Carat is the standard unit to measure the weight of diamonds and other gemstones. Every fraction
                makes a considerable difference to the cost of a diamond. Generally, a metric carat is categorized as
                200 milligrams
              </p>
              <p>
                When we consider two diamonds of the same carat weight, it may vary in cost due to certain factors like
                clarity, color, and cut. However, if the size of a diamond increases, the price will also increase.
              </p>
              <p>At Kukadia Group Pvt. Ltd, we measure the weight of a diamond by using an advanced electronic scale.
                You can visit our store to explore the latest collection under your budget. </p>
              <p>Ever wondered why Diamonds are expensive? It takes about 250 tons of rock mining to produce just 1.00ct
                of a diamond. That’s what makes it rare. At Kukadia Group, our GIA certified experts make it real by
                giving a refinery touch to every piece of a diamond. </p>
              <h3>Diamond Carat</h3>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <img src="assets/images/infra-img-1.png" class="img-full-width my-4" alt=""/>
              <p>
                Graded by <a routerLink="/"><b>GIA</b></a>, the lesser the color, the higher would be the value. The
                Grading scale of Diamond Color
                ranges from D (colorless) to Z (yellow tint). It determines the purity of the gemstone. However, H and N
                continue with the increasing presence of yellow color.
              </p>
              <p>
                So, if you shop for any diamond Jewelry, know that a structurally perfect and chemically pure diamond
                has no color.
              </p>
              <p>It is just like a drop of pure water that reflects purity and freshness. However, every piece of a
                diamond reveals its originality after the cutting process that demands one thing- Precision. </p>
              <h3>Diamond Color</h3>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <img src="assets/images/infra-img-1.png" class="img-full-width my-4" alt=""/>
              <p>
                Diamond Clarity refers to the absence of hues, inclusions, and blemishes within or on a diamond when
                viewed under 10x magnification. At Kukadia Group, we follow the GIA Clarity Scale ranging from flawless
                (FL) to (I3).
              </p>
              <p>
                So, if you shop for any diamond Jewelry, know that a structurally perfect and chemically pure diamond
                has no color.
              </p>
              <p>It is just like a drop of pure water that reflects purity and freshness. However, every piece of a
                diamond reveals its originality after the cutting process that demands one thing- Precision. </p>
              <div class="inr-step-class">
                <ul>
                  <li>
                    <span>Flawless (FL)</span>
                    <div class="d-flex align-items-start">
                      <img src="assets/images/icon/list-type2.svg" alt="">
                      <p>Neither inclusions nor blemishes are visible to the professional grader using 10×
                        magnification</p>
                    </div>
                  </li>
                  <li>
                    <span>Internally Flawless (IF)</span>
                    <div class="d-flex align-items-start">
                      <img src="assets/images/icon/list-type2.svg" alt="">
                      <p>Only blemishes are visible and not inclusions to a skilled grader using 10× magnification
                      </p>
                    </div>
                  </li>
                  <li>
                    <span>Very, Very Slightly Included (VVS1 and VVS2)</span>
                    <div class="d-flex align-items-start">
                      <img src="assets/images/icon/list-type2.svg" alt="">
                      <p>It is quite challenging for a skilled grader to view the Inclusions under 10×
                        magnification.</p>
                    </div>
                  </li>
                  <li>
                    <span>Very Slightly Included (VS1 and VS2)</span>
                    <div class="d-flex align-items-start">
                      <img src="assets/images/icon/list-type2.svg" alt="">
                      <p>Inclusions are minor and range from difficult to somewhat easy for a skilled grader to see
                        under 10x magnification.</p>
                    </div>
                  </li>
                  <li>
                    <span>Slightly Included (SI1 and SI2)</span>
                    <div class="d-flex align-items-start">
                      <img src="assets/images/icon/list-type2.svg" alt="">
                      <p>Inclusions are noticeable to a skilled grader under 10x magnification.</p>
                    </div>
                  </li>
                  <li>
                    <span>Included (I1, I2, and I3)</span>
                    <div class="d-flex align-items-start">
                      <img src="assets/images/icon/list-type2.svg" alt="">
                      <p>Inclusions are obvious under 10× magnification and may affect transparency and brilliance.</p>
                    </div>
                  </li>
                </ul>
              </div>
              <h3>Diamond Clarity</h3>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <img src="assets/images/infra-img-1.png" class="img-full-width my-4" alt=""/>
              <p>
                Diamond-Cut refers to the precision to maximize the fire (the dispersion of light into the colors of the
                spectrum), spark (the flashes of life in light or dark areas), and brilliance (the total light reflected
                from a diamond). It improves the overall appearance of a diamond.
              </p>
              <p>Moreover, a finely cut diamond reflects the deft of an expert for balancing the proportions, symmetry,
                and accurate polishing for delivering the magnificent beauty of a gemstone. </p>
              <p>At Kukadia Group, our professionals are qualified with diamond cutting and leave no chance of error in
                making the rough stone a perfect and most valuable diamond. </p>
              <p>Our cutting scale contains four grades ranging from Excellent, Very Good, Good, and Fair. Visit our
                store to get the best-of-all diamond Jewelry for any special occasion. </p>
              <p>Do you have any questions for Diamonds? We are a matchmaker in the Diamond Industry. Contact us now to
                find the perfect collection for your Engagement Day Celebration.</p>
              <h3>Diamond-Cut</h3>
            </div>
            <div class="tabs-section-text-inr py-2 blog-dtl-main-inr">
              <div class="btn-comn-div pt-5 text-center">
                <a href="register.php" class="btn-comn"><span>register</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-front-footer></app-front-footer>
</div>
