.modal-cust-small .modal-content {
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.dash-label {
  display: block;
  font-weight: 600;
  color: var(--color-dark);
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.modal-cust-small .modal-header {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-flex-align: center;
  align-items: center;
  background: var(--thm-color-light);
}

.image-video-section {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.modal-cust-small .modal-title {
  color: var(--thm-color);
  font-weight: 600;
}

.modal-cust-small .close {
  opacity: 1 !important;
  font-size: unset;
}

.modal-cust-small .modal-header img {
  width: 25px;
}

.news-section-tabs-new .nav-link {
  color: var(--color-dark);
  background: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 16px;
  font-weight: 600;
  border: 1px solid #cbd5dc;
  border-left: 0;
  width: 150px;
  text-align: center;
}

.news-section-tabs-new .nav-link.active {
  background: var(--thm-color-light);
  color: var(--thm-color);
}

.news-section-tabs-new .nav-item:first-child a {
  border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-right: 0;
  border-left: 0.429602px solid #cbd5dc;
}

.news-section-tabs-new .nav-item:last-child a {
  border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-left: 0 !important;
}

@media (max-width: 767px) {
  .news-section-tabs-new {
    margin-top: 25px;
  }

  .news-section-tabs-new .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
  }

  .news-section-tabs-new .nav-link {
    width: auto;
  }

  .btn-btm-inr-tabs .btn {
    display: flex !important;
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
  }
}

