<div class="back-to-top">
  <img src="assets/images/icon/top-window.svg" alt="">
</div>
<footer class="ftr-row row" *ngIf="brandsActive == 1">
  <div class="col-12 ftr-row-top-bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-3 col-6 mb-sm-0 mb-5" *ngFor="let brand of Brands">
          <div class="ftr-brand">
            <img src="{{backend +''+ brand.profile}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 ftr-row-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-md-flex align-items-center justify-content-between news-section-main">
            <div class="news-section-main-left">
              <span>Join Our Newsfeeds</span>
              <p>To get regular offers and Updates</p>
            </div>
            <div class="news-section-main-right">
              <form [formGroup]="SubscriberForm" (ngSubmit)="onSubmit()">
                <div class="input-group">
                  <input type="email" formControlName="subscriber_email" class="form-control" placeholder="Enter Email Address" [ngClass]="{ 'is-invalid': submitted && fval.subscriber_email.errors }" />
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <button type="submit" class="btn">Subscribe</button>
                    </span>
                  </div>
                  <div *ngIf="submitted && fval.subscriber_email.errors" class="invalid-feedback">
                    <div *ngIf="fval.subscriber_email.errors.required">
                      Email Address is required
                    </div>
                    <div *ngIf="fval.subscriber_email.errors.email">Email Address must be a valid email address</div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-sm-6 mt-3 mt-lg-0">
          <div class="ftr-logo-btm">
            <div class="ftr-logo">
              <img src="assets/images/logo/logo-ftr.svg" alt="">
            </div>
            <div class="mde-india-div pt-3">
              <img src="assets/images/made-in-india.png" alt="">
            </div>
            <div class="socl-btm-icon">
              <ul class="d-flex align-items-center">
                <li>
                  <a href="https://www.facebook.com/kukadia.co" target="_blank">
                    <img src="assets/images/icon/facebook-icon.svg" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/kukadia.co/" target="_blank">
                    <img src="assets/images/icon/instagram-icon.svg" alt="">
                  </a>
                </li>
                <li>
                  <a href="">
                    <img src="assets/images/icon/twitter-icon.svg" alt="">
                  </a>
                </li>
                <li>
                  <a href="">
                    <img src="assets/images/icon/youtube-icon.svg" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-6 mt-3 mt-lg-0">
          <div class="ftr-links-btm">
            <span>About</span>
            <ul>
              <li><a routerLink="/why-kukadia">Why ?</a></li>
              <li><a routerLink="/customers-testimonials">Customers Testimonials</a></li>
              <li><a routerLink="/policy">Policy</a></li>
              <li><a routerLink="/news">K News</a></li>
              <li><a routerLink="/blog">Blog</a></li>
              <li><a routerLink="/csr">CSR at K</a></li>
              <li><a routerLink="/achievements">Kukadia Achievements</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-6 mt-3 mt-lg-0">
          <div class="ftr-links-btm">
            <span>Educational</span>
            <ul>
              <li><a routerLink="/k4c">K’s 4C’s</a></li>
              <li><a routerLink="/k-grading">K’s Grading</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-6 mt-3 mt-lg-0">
          <div class="ftr-links-btm">
            <span>Customer Care</span>
            <ul>
              <li><a routerLink="/login">Book Appointment</a></li>
              <li><a href="https://www.gia.edu/report-check-landing" target="_ blank">GIA Report Check</a></li>
              <li><a routerLink="/login">Event Calendar</a></li>
              <li><a routerLink="/terms-and-condition">T&C</a></li>
              <li><a routerLink="/faq">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-6 mt-3 mt-lg-0">
          <div class="ftr-links-btm">
            <span>Useful Links</span>
            <ul>
              <li><a routerLink="/sitemap">Sitemap</a></li>
              <li><a routerLink="/register">Registration</a></li>
              <li><a href="javascript:void(0)" data-toggle="modal" data-target="#concierge-services-Modal">Concierge Services</a></li>
              <li><a href="javascript:void(0)" data-toggle="modal" data-target="#Suggestions-Modal">Suggestions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 mt-3 mt-lg-0">
          <div class="ftr-links-btm">
            <span>Contact us</span>
            <ul class="cont-us-section">
              <li>
                <div class="cont-us-section-inr align-items-start">
                  <img src="assets/images/icon/location-icon.svg" alt="">
                  <address>
                    A-301 Kamla Estate, Nr. Svani Estate,
                    Kohinoor Road, Mini Bazaar, Varachha,
                    Surat-395006
                  </address>
                </div>
              </li>
              <li>
                <div class="cont-us-section-inr">
                  <img src="assets/images/icon/email-icon.svg" alt="">
                  <p>
                    <a href="mailto:info@kukadia.co">info@kukadia.co</a>
                  </p>
                </div>
              </li>
              <li>
                <div class="cont-us-section-inr">
                  <img src="assets/images/icon/phone-call.svg" alt="">
                  <p>
                    <a href="tel:+918980880555">+91 8980880555</a>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 ftr-copyright">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="ftr-copyright-text d-md-flex align-items-center justify-content-between">
            <ul class="d-flex align-items-center justify-content-center">
              <li>
                <a routerLink="/terms-and-condition">Terms & Conditions</a>
              </li>
              <li>
                <span></span>
              </li>
              <li>
                <a routerLink="/policy">Privacy policy</a>
              </li>
            </ul>
            <p class="cpy-text-btm">© 2021 Kukadia Ventures private limited All Right Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="Suggestions-Modal" tabindex="-1" aria-labelledby="Suggestions-Modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg suggestion-modal-cust">
    <div class="modal-content">
      <div class="modal-header border-0 align-items-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="assets/images/icon/modal-close-icon.svg" alt="">
        </button>
      </div>
      <div class="modal-body mt-md-n5 mt-n4">
        <div class="comn-title-shap text-center">
          <h2>Suggestions</h2>
          <div class="comn-title-shap-imgs d-flex align-items-center justify-content-center">
            <img src="assets/images/icon/left-title-shap.svg" alt="">
            <span class="mx-2"><img src="assets/images/icon/title-shap-logo.svg" alt=""></span>
            <img src="assets/images/icon/right-title-shap.svg" alt="">
          </div>
        </div>
        <form class="row">
          <div class="col-md-6 form-group">
            <input type="text" value="" class="form-control input-style" placeholder="Name">
          </div>
          <div class="col-md-6 form-group">
            <input type="email" value="" class="form-control input-style" placeholder="Email Address">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" value="" class="form-control input-style" placeholder="Company Name">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" value="" class="form-control input-style" placeholder="Mobile No.">
          </div>
          <div class="col-12 form-group">
            <textarea rows="5" class="form-control input-style" placeholder="Write your message"></textarea>
          </div>
          <div class="col-12">
            <div class="btn-comn-div py-4 text-center">
              <button type="submit" class="btn-comn"><span>SEND</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="concierge-services-Modal" tabindex="-1" aria-labelledby="concierge-services-Modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg suggestion-modal-cust">
    <div class="modal-content">
      <div class="modal-header border-0 align-items-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="assets/images/icon/modal-close-icon.svg" alt="">
        </button>
      </div>
      <div class="modal-body mt-md-n5 mt-n4">
        <div class="comn-title-shap text-center">
          <h2>Concierge Services</h2>
          <div class="comn-title-shap-imgs d-flex align-items-center justify-content-center">
            <img src="assets/images/icon/left-title-shap.svg" alt="">
            <span class="mx-2"><img src="assets/images/icon/title-shap-logo.svg" alt=""></span>
            <img src="assets/images/icon/right-title-shap.svg" alt="">
          </div>
        </div>
        <form class="row">
          <div class="col-md-6 form-group">
            <input type="text" value="" class="form-control input-style" placeholder="Name">
          </div>
          <div class="col-md-6 form-group">
            <input type="email" value="" class="form-control input-style" placeholder="Email Address">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" value="" class="form-control input-style" placeholder="Mobile No.">
          </div>
          <div class="col-12 form-group">
            <textarea rows="5" class="form-control input-style" placeholder="Question"></textarea>
          </div>
          <div class="col-12">
            <div class="btn-comn-div py-4 text-center">
              <button type="submit" class="btn-comn"><span>submit</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

