<div class="dash-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <main class="content-wrapper-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="inr-title-comn d-sm-flex align-items-center">
            <h3>Add-ons</h3>
            <div class="sprt-menu-top mx-auto">
              <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="pills-Striliant-tab" data-toggle="pill" href="#pills-Striliant" role="tab" aria-controls="pills-Striliant" aria-selected="true">Striliant</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pills-Rapaport-tab" data-toggle="pill" href="#pills-Rapaport" role="tab" aria-controls="pills-Rapaport" aria-selected="false">
                    Rapaport
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="dash-box-white">
            <div class="add-ons-section">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-Striliant" role="tabpanel" aria-labelledby="pills-Striliant-tab">
                  <div class="row">
                    <div class="col-xl-3 col-md-6 mb-3">
                      <div class="add-card-box">
                        <div class="add-card-box-img">
                          <img src="assets/images/add-ons-1.png" alt="" />
                        </div>
                        <div class="add-card-box-text">
                          <h4>Instant Inventory</h4>
                          <p>Showcase a live feed of over 1 million Striliant diamonds on your online store. Customizable to your website.</p>
                          <div class="lrn-more-btn-class mt-md-5">
                            <button type="button" class="lrn-more-btn" data-toggle="modal" data-target="#leran-more-modal">LEARN MORE</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3">
                      <div class="add-card-box">
                        <div class="add-card-box-img">
                          <img src="assets/images/add-ons-1.png" alt="" />
                        </div>
                        <div class="add-card-box-text">
                          <h4>Diamond Insights</h4>
                          <p>A powerful tool that helps you analyze, position and price your diamonds better to optimize sales.</p>
                          <div class="lrn-more-btn-class mt-md-5">
                            <button type="button" class="lrn-more-btn" data-toggle="modal" data-target="#leran-more-modal">LEARN MORE</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3">
                      <div class="add-card-box">
                        <div class="add-card-box-img">
                          <img src="assets/images/add-ons-1.png" alt="" />
                        </div>
                        <div class="add-card-box-text">
                          <h4>Custom Reports</h4>
                          <p>Looking for specific diamond price data? We can create tailored reports based on Striliant and Rapaport diamond price information.</p>
                          <div class="lrn-more-btn-class mt-md-5">
                            <button type="button" class="lrn-more-btn" data-toggle="modal" data-target="#leran-more-modal">LEARN MORE</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3">
                      <div class="add-card-box">
                        <div class="add-card-box-img">
                          <img src="assets/images/add-ons-1.png" alt="" />
                        </div>
                        <div class="add-card-box-text">
                          <h4>Striliant XL</h4>
                          <p>Integrates Rapaport Price List data with your inventory database on Microsoft Excel to help you with modeling, pricing and inventory management.</p>
                          <div class="lrn-more-btn-class mt-md-5">
                            <button type="button" class="lrn-more-btn" data-toggle="modal" data-target="#leran-more-modal">LEARN MORE</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-Rapaport" role="tabpanel" aria-labelledby="pills-Rapaport-tab">
                  <div class="row">
                    <div class="col-xl-3 col-md-6 mb-3">
                      <div class="add-card-box">
                        <div class="add-card-box-img">
                          <img src="assets/images/add-ons-1.png" alt="" />
                        </div>
                        <div class="add-card-box-text">
                          <h4>Instant Inventory</h4>
                          <p>Showcase a live feed of over 1 million Striliant diamonds on your online store. Customizable to your website.</p>
                          <div class="lrn-more-btn-class mt-md-5">
                            <button type="button" class="lrn-more-btn" data-toggle="modal" data-target="#leran-more-modal">LEARN MORE</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3">
                      <div class="add-card-box">
                        <div class="add-card-box-img">
                          <img src="assets/images/add-ons-1.png" alt="" />
                        </div>
                        <div class="add-card-box-text">
                          <h4>Diamond Insights</h4>
                          <p>A powerful tool that helps you analyze, position and price your diamonds better to optimize sales.</p>
                          <div class="lrn-more-btn-class mt-md-5">
                            <button type="button" class="lrn-more-btn" data-toggle="modal" data-target="#leran-more-modal">LEARN MORE</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3">
                      <div class="add-card-box">
                        <div class="add-card-box-img">
                          <img src="assets/images/add-ons-1.png" alt="" />
                        </div>
                        <div class="add-card-box-text">
                          <h4>Custom Reports</h4>
                          <p>Looking for specific diamond price data? We can create tailored reports based on Striliant and Rapaport diamond price information.</p>
                          <div class="lrn-more-btn-class mt-md-5">
                            <button type="button" class="lrn-more-btn" data-toggle="modal" data-target="#leran-more-modal">LEARN MORE</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3">
                      <div class="add-card-box">
                        <div class="add-card-box-img">
                          <img src="assets/images/add-ons-1.png" alt="" />
                        </div>
                        <div class="add-card-box-text">
                          <h4>Striliant XL</h4>
                          <p>Integrates Rapaport Price List data with your inventory database on Microsoft Excel to help you with modeling, pricing and inventory management.</p>
                          <div class="lrn-more-btn-class mt-md-5">
                            <button type="button" class="lrn-more-btn" data-toggle="modal" data-target="#leran-more-modal">LEARN MORE</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay toggle-icon-main"></div>
  </main>

  <div class="modal fade" id="leran-more-modal" tabindex="-1" aria-labelledby="leran-more-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered lrn-more-custom-mdl">
      <div class="modal-content">
        <div class="modal-header align-items-center">
          <h5 class="modal-title">Instant Inventory</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
            <div class="col-md-6">
              <div class="lrn-more-mdl-left">
                <p>Showcase more inventory on your jewelry website. Let your customers browse over 1 million certified Striliant diamonds in your online store, as if they were your own inventory.</p>
                <img src="assets/images/Striliant-instant-inventory.png" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-md-6 mt-md-0 mt-3">
              <div class="lrn-more-mdl-right">
                <ul>
                  <li>
                    <div class="lrn-more-mdl-right-div">
                      <img src="assets/images/icon/check.svg" alt="" />
                      <span>Custom Tailored to your website</span>
                    </div>
                  </li>
                  <li>
                    <div class="lrn-more-mdl-right-div">
                      <img src="assets/images/icon/check.svg" alt="" />
                      <span>Simple set up</span>
                    </div>
                  </li>
                  <li>
                    <div class="lrn-more-mdl-right-div">
                      <img src="assets/images/icon/check.svg" alt="" />
                      <span>Easy Integration</span>
                    </div>
                  </li>
                  <li>
                    <div class="lrn-more-mdl-right-div">
                      <img src="assets/images/icon/check.svg" alt="" />
                      <span>Set your own mark-ups</span>
                    </div>
                  </li>
                  <li>
                    <div class="lrn-more-mdl-right-div">
                      <img src="assets/images/icon/check.svg" alt="" />
                      <span>No commission or transaction fees</span>
                    </div>
                  </li>
                </ul>
                <div class="lrn-more-mdl-right-btm text-center mt-2">
                  <h4>Add to Your Account</h4>
                  <h5>$60<span>per month</span> /$550<span>per year</span></h5>
                  <button type="button" class="btn">Contact Sales</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
