<div class="container-fluid h-100">
  <div class="row align-items-center h-100-cust">
    <div class="col-md-6 p-0">
      <Particles id="password-particles-js" [options]="particlesOptions"></Particles>
      <div class="log-left-section d-flex align-items-center justify-content-center">
        <div class="diamond-gif-div">
          <img src="assets/images/icon/diamond-shape.svg" alt="" />
        </div>
        <div class="log-left-mdl text-center">
          <img src="assets/images/logo/logo-kukadia-white.svg" alt="" />
        </div>
        <div class="diamond-gif-div gif-div-btm">
          <img src="assets/images/icon/diamond-shape.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="col-md-6 bg-white-div">
      <div class="log-right-section d-flex align-items-start justify-content-center vh-100">
        <div class="row w-100">
          <div class="col-12">
            <div class="log-right-top-section pb-md-5 pb-3 d-flex align-items-center justify-content-between">
              <div class="">
                <a routerLink="/login" class="bk-icon d-inline-flex align-items-center">
                  <img src="assets/images/icon/back-icon.svg" alt="" />
                  <span>Back</span>
                </a>
              </div>
              <div class="ftr-lang">
                <select class="custom-select form-control">
                  <option selected="">ENG</option>
                  <option value="1">GUJ</option>
                  <option value="3">HIN</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="log-right-fix">
              <div class="log-right-top">
                <h1>Forgot Password</h1>
                <p>Enter the email address associated with your account.</p>
              </div>
              <div class="log-right-btm">
                <div *ngIf="show_forget_form">
                  <form class="row" [formGroup]="ForgotForm" (ngSubmit)="onSubmitForgotForm()">
                    <div class="col-12">
                      <div class="form-group">
                        <label>Email Address<span>*</span></label>
                        <input type="email" class="form-control input-style" placeholder="Enter your Email Address" [ngClass]="{ 'is-invalid': forgot_submitted && fval.email.errors }" formControlName="email"/>
                        <div *ngIf="forgot_submitted && fval.email.errors" class="invalid-feedback">
                          <div *ngIf="fval.email.errors.required">
                            Email Address is required
                          </div>
                          <div *ngIf="fval.email.errors.email">Email Address must be a valid email address</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="btn-class text-center py-md-5 py-3">
                        <button type="submit" class="btn btn-dash"><span>Submit</span></button>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="text-center bk-link">
                        <p>Back To <a routerLink="/login">Login</a></p>
                      </div>
                    </div>
                  </form>
                </div>
                <div *ngIf="verify_form_open">
                  <form class="row" [formGroup]="verifyForm" (ngSubmit)="onSubmitVerifyCheck()">
                    <div class="col-12">
                      <div class="form-group">
                        <label>OTP<span>*</span></label>
                        <input type="text" class="form-control input-style" placeholder="Enter your 4 digit OTP" [ngClass]="{ 'is-invalid': verify_submitted && vval.verify_token.errors }" formControlName="verify_token"/>
                        <div *ngIf="verify_submitted && vval.verify_token.errors" class="invalid-feedback">
                          <div *ngIf="vval.verify_token.errors.required">
                            OTP is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="btn-class text-center py-md-5 py-3">
                        <button type="submit" class="btn btn-dash"><span>Verify OTP</span></button>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="text-center bk-link">
                        <p>Back To <a routerLink="/login">Login</a></p>
                      </div>
                    </div>
                  </form>
                </div>
                <div *ngIf="password_form_show">
                  <form class="row" [formGroup]="password_Form" (ngSubmit)="onSubmitPasswordForm()">
                    <div class="col-12">
                      <div class="form-group">
                        <label>Password<span>*</span></label>
                        <input type="password" class="form-control input-style" placeholder="Enter your new password" [ngClass]="{ 'is-invalid': password_submitted && pval.password.errors }" formControlName="password"/>
                        <div *ngIf="password_submitted && pval.password.errors" class="invalid-feedback">
                          <div *ngIf="pval.password.errors.required">
                            Password is Required
                          </div>
                          <div *ngIf="pval.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label>Confirm Password<span>*</span></label>
                        <input type="password" class="form-control input-style" placeholder="Enter your confirm password" [ngClass]="{ 'is-invalid': password_submitted && pval.confirm_password.errors }" formControlName="confirm_password"/>
                        <div *ngIf="password_submitted && pval.confirm_password.errors" class="invalid-feedback">
                          <div *ngIf="pval.confirm_password.errors.required">
                            Confirm Password is Required
                          </div>
                          <div *ngIf="pval.confirm_password.errors.ConfirmedValidator">Password and Confirm Password must be match.</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="btn-class text-center py-md-5 py-3">
                        <button type="submit" class="btn btn-dash"><span>Reset Password</span></button>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="text-center bk-link">
                        <p>Back To <a routerLink="/login">Login</a></p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
