<div class="dash-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <main class="content-wrapper-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="inr-title-comn d-md-flex align-items-center">
            <h3>My Cart</h3>
          </div>
        </div>
        <div class="col-12">
          <div class="dash-box-white">
            <div class="comn-white-box-table">
              <div class="mb-4 mt-2 d-lg-flex align-items-center justify-content-center">
                <div class="filter-row d-sm-flex align-items-center justify-content-center">
                  <p>Pieces: <span>{{Pieces}}</span></p>
                  <p>Cts: <span></span>{{Cts}}</p>
                  <p>Avg Disc: <span>{{Avg_Disc+'%'}}</span></p>
                  <p>Total Ct/Pr: <span>{{Total_Cr | currency}}</span></p>
                  <p>Amount: <span>{{Amount | currency}}</span></p>
                </div>
                <div class="ml-auto mt-3 mt-lg-0 text-center">
                  <button (click)="SelectRemoveItem()" type="button" class="btn-inr-top mr-sm-2 mr-1" *ngIf="RemoveList.length>0">
                    Delete
                  </button>
                  <button (click)="placeOrder()" type="button" class="btn-inr-top mr-sm-2 mr-1" *ngIf="DiamondList?.length>0">
                    Place Order
                  </button>
                  <a routerLink="/message" class="btn-prvw mr-sm-2 mr-1">
                    Enquiry
                  </a>
                </div>
              </div>
              <table datatable [dtOptions]='dtOptions' class="display">
                <thead>
                  <tr>
                    <th class="no-search-filter">
                      <div class="cust-checkbox-new">
                        <label class="cust-chk-bx">
                          <input type="checkbox" name="diamondcheck" [checked]="isMasterChecked" (click)="checkuncheckall()" />
                          <span class="cust-chkmark"></span>
                        </label>
                      </div>
                    </th>
                    <th class="no-search-filter">Action</th>
                    <th class="no-search-filter">Media</th>
                    <th>Stock Number</th>
                    <th>Shape</th>
                    <th>Cts</th>
                    <th>Color</th>
                    <th>Cut</th>
                    <th>Polish</th>
                    <th>Symmetry</th>
                    <th>Sale Back</th>
                    <th>Sales Price W Back</th>
                    <th>Sale Subtotal</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody *ngIf="searchlistData?.length>0">
                  <tr *ngFor="let item of searchlistData" [class.table-success]="RemoveList.includes(item['diamond_id'])">
                    <td>
                      <div class="cust-checkbox-new">
                        <label class="cust-chk-bx">
                          <input type="checkbox" name="diamondcheck" [checked]="RemoveList.includes(item['diamond_id'])" value="{{item['diamond_id']}}" (change)="checkboxSelect($event.target.value)" />
                          <span class="cust-chkmark"></span>
                        </label>
                      </div>
                    </td>
                    <td>
                      <a (click)="removeItem(item.diamond_id)">
                        <img src="assets/images/icon/delete-icon.svg" class="mx-2 table-img-inr" alt="">
                      </a>
                    </td>
                    <td>
                      <a [href]="photoURL(item['diamond_img'])" *ngIf="item['diamond_img']" target="_blank">
                        <img src="assets/images/icon/image-icon.svg" *ngIf="item['diamond_img']" class="mr-2 table-img-inr" alt="" />
                      </a>
                      <a [href]="photoURL(item['report_file'])" *ngIf="item['report_file']" target="_blank">
                        <img src="assets/images/icon/certificate-icon.svg" class="mr-2 table-img-inr" alt="" />
                      </a>
                      <a [href]="photoURL(item['video_link'])" *ngIf="item['video_link']" target="_blank">
                        <img src="assets/images/icon/video-icon.svg" class="table-img-inr" alt="" />
                      </a>
                    </td>
                    <td><a [routerLink]="['/diamonds/view-diamonds',item.diamond_id]">{{ item.stock_number}}</a></td>
                    <td>{{ item['shape'] ? item['shape'] : "-"}}</td>
                    <td>{{ item['size'] ? item['size'] : "-"}}</td>
                    <td>{{ item['color'] ? item['color'] : "-"}}</td>
                    <td>{{ item['cut'] ? item['cut'] : "-"}}</td>
                    <td>{{ item['polish'] ? item['polish'] : "-"}}</td>
                    <td>{{ item['symmetry'] ? item['symmetry'] : "-"}}</td>
                    <td>{{ item['sale_back'] ? item['sale_back']+'%' : "-"}}</td>
                    <td>{{ item['sale_price_back'] | currency}}</td>
                    <td>{{ item['sale_subtotal'] | currency}}</td>
                    <td>{{item.created_at | date}}</td>
                  </tr>
                </tbody>
                <tbody *ngIf="searchlistData?.length == 0">
                  <tr>
                    <td colspan="14" class="no-data-available">No cart data available!</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay toggle-icon-main"></div>
  </main>
</div>
