<div class="dash-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <main class="content-wrapper-section">
    <div class="container-fluid" style="position: relative">
      <ngx-spinner bdColor = "var(--thm-color-light)"
                   size = "large"
                   color = "var(--thm-color)"
                   type = "ball-pulse"
                   [fullScreen] = "false">
        <p style="color: white" > Loading... </p>
      </ngx-spinner>
      <div class="row mr-0">
        <div class="col-12 pr-0">
          <div class="inr-title-comn">
            <h3>Dashboard</h3>
          </div>
        </div>
        <div class="col-12 mb-3 pr-0">
          <div class="dash-box-white">
            <div class="row mr-0 justify-content-center hvr-class">
              <div class="col-xl-4 col-lg-6 col-sm-6 pr-0 mb-3 mb-xl-0">
                <a routerLink="/new-products" class="dash-box-list-top">
                  <div class="dash-box-list">
                    <div class="dash-box-list-img">
                      <img src="assets/images/icon/admin-dash-1.svg" alt=""/>
                    </div>
                    <div class="dash-box-list-text">
                      <h3 title="title">{{new_products}}</h3>
                      <h5>New Products</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-xl-4 col-lg-4 col-sm-6 pr-0 mb-3 mb-xl-0">
                <a routerLink="/watchlist" class="dash-box-list-top">
                  <div class="dash-box-list">
                    <div class="dash-box-list-img">
                      <img src="assets/images/icon/admin-dash-2.svg" alt=""/>
                    </div>
                    <div class="dash-box-list-text">
                      <h3 title="title">{{reminder}}</h3>
                      <h5>WatchList</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-xl-4 col-lg-6 col-sm-6 pr-0 mb-3 mb-xl-0">
                <a routerLink="/buy-requests" class="dash-box-list-top">
                  <div class="dash-box-list">
                    <div class="dash-box-list-img">
                      <img src="assets/images/icon/admin-dash-3.svg" alt=""/>
                    </div>
                    <div class="dash-box-list-text">
                      <h3 title="title">{{enquiry}}</h3>
                      <h5>Enquiry</h5>
                    </div>
                  </div>
                </a>
              </div>
              <!--              <div class="col-xl-3 col-lg-4 col-sm-6 pr-0 mb-3 mb-xl-0">-->
              <!--                <a href="" class="dash-box-list-top">-->
              <!--                  <div class="dash-box-list">-->
              <!--                    <div class="dash-box-list-img">-->
              <!--                      <img src="assets/images/icon/admin-dash-4.svg" alt="" />-->
              <!--                    </div>-->
              <!--                    <div class="dash-box-list-text">-->
              <!--                      <h3 title="title">60</h3>-->
              <!--                      <h5>Recommended</h5>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->
            </div>
          </div>
        </div>
        <div class="col-lg-9 pr-0">
          <div class="dash-box-white">
            <div class="chart-top" *ngIf="month_1>0">
              <div class="row align-items-center">
                <div class="col-xl-3">
                  <h1>Purchase Snapshot</h1>
                </div>
                <div class="col-xl-9 mt-3 mt-xl-0">
                  <ul class="row m-0">
                    <li class="col-md mb-3 mb-md-0" [ngClass]="{'active': step==1}" (click)="refreshchart(1)">
                      <h2>{{month_1 | currency}}</h2>
                      <p>1 Month</p>
                    </li>
                    <li class="col-md mb-3 mb-md-0" [ngClass]="{'active': step==2}" (click)="refreshchart(2)">
                      <h2>{{month_6 | currency}}</h2>
                      <p>6 Months</p>
                    </li>
                    <li class="col-md mb-3 mb-md-0" [ngClass]="{'active': step==3}" (click)="refreshchart(3)">
                      <h2>{{year_1 | currency}}</h2>
                      <p>1 Year</p>
                    </li>
                    <li class="col-md mb-3 mb-md-0" [ngClass]="{'active': step==4}" (click)="refreshchart(4)">
                      <h2>{{year_2 | currency}}</h2>
                      <p>2 Year</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="main-chart-section mt-4">
                <div id="chart">
                  <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [xaxis]="chartOptions.xaxis"
                    [dataLabels]="chartOptions.dataLabels"
                    [grid]="chartOptions.grid"
                    [stroke]="chartOptions.stroke"
                    [title]="chartOptions.title"
                  ></apx-chart>
                </div>
              </div>
            </div>
            <div class="chart-snd">
              <div class="chart-snd-inr mt-4">
                <h1>Portfolio</h1>
                <div class="chart-snd-inr-sec mt-3">
                  <div class="d-md-flex align-items-center mb-3">
                    <ul class="list-dash-title data-span-class-main">
                      <li *ngFor="let port_data of portfolio_data">
                        <div class="d-flex align-items-center data-span-class">
                          <span class="">{{port_data.clarity}} : <mark>{{port_data.percentage}}% (TP:{{port_data.total_product}}/{{port_data.clarity}}:{{port_data.each_product}})</mark></span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="main-chart-section">
                    <div id="chart-portfolio">
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart-snd-inr mt-4" *ngIf="featured_stone_array?.length>0">
                <h1>Featured Stone</h1>
                <div class="chart-snd-inr-sec mt-3 bg-image-set-new">
                  <div class="featured-stone-silder">

                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="featuredstone">
                      <div class="featured-stone-item" ngxSlickItem *ngFor="let slide of featured_stone_array;">
                        <div class="featured-stone-box">
<!--                          <img src="assets/images/stone-image-1.png" alt="">-->
                          <img [src]="photoURL(slide.diamond_img)" alt="">
                          <div class="text-center sld-btm-box">
                            <ul class="row mr-0">
                              <li class="col pr-0">{{slide.stock_number ? slide.stock_number : '-'}}</li>
                              <li class="col pr-0">{{slide.cut ? slide.cut : '-'}}</li>
                              <li class="col pr-0">{{slide.symmetry ? slide.symmetry : '-'}}</li>
                            </ul>
                            <div class="sld-btm-box-inr">
                              <p>{{slide.clarity ? slide.clarity : '-'}}</p>
                              <span>{{slide.lab ? slide.lab : '-'}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ngx-slick-carousel>
                  </div>
                </div>
              </div>
              <div class="dash-inr-page-bx-main" *ngIf="Currencies?.length>0 || Metal?.length>0">
                <div class="dash-inr-title-comn d-flex align-items-center">
                  <h3>Financial Data</h3>
                </div>
                <div class="dash-inr-page-bx">
                  <div class="dash-comn-tabs">
                    <ul class="nav nav-pills" role="tablist">
                      <li class="nav-item" role="presentation" *ngIf="Currencies?.length>0">
                        <a class="nav-link active" id="pills-Currencies-tab" data-toggle="pill" href="#pills-Currencies"
                           role="tab" aria-controls="pills-Currencies" aria-selected="true">Currencies</a>
                      </li>
                      <li class="nav-item" role="presentation" *ngIf="Metal?.length>0">
                        <a class="nav-link" id="pills-Metal-tab" data-toggle="pill" href="#pills-Metal" role="tab"
                           aria-controls="pills-Metal" aria-selected="false">Metal</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="pills-Currencies" role="tabpanel"
                           aria-labelledby="pills-Currencies" *ngIf="Currencies?.length>0">
                        <div class="dash-table-cust mt-3">
                          <div class="table-responsive">
                            <table class="table table-bordered mb-0">
                              <thead>
                              <tr>
                                <th>Title</th>
                                <th>Old Price</th>
                                <th>Current Price</th>
                                <th>Change</th>
                                <th>Change%</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let m of Currencies">
                                <td>{{m.productTitle}}</td>
                                <td>{{m.old_price | number : '1.2-2'}}</td>
                                <td>{{m.price | number : '1.2-2'}}</td>
                                <td [ngClass]="{'tbl-green' : m.change >= 0, 'tbl-span': m.change < 0}">
                                  {{m.change}}
                                  <span [ngClass]="{'up' : m.change >= 0, 'down': m.change < 0}"></span>
                                </td>
                                <td [ngClass]="{'tbl-green' : m.changePercent >= 0, 'tbl-span': m.changePercent < 0}">
                                  {{m.changePercent}}%
                                  <span [ngClass]="{'up' : m.changePercent >= 0, 'down': m.changePercent < 0}"></span>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="pills-Metal" role="tabpanel" aria-labelledby="pills-Metal" *ngIf="Metal?.length>0">
                        <div class="dash-table-cust mt-3">
                          <div class="table-responsive">
                            <table class="table table-bordered mb-0">
                              <thead>
                              <tr>
                                <th>Title</th>
                                <th>Old Price</th>
                                <th>Current Price</th>
                                <th>Change</th>
                                <th>Change%</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let m of Metal">
                                <td>{{m.productTitle}}</td>
                                <td>{{m.old_price | number : '1.2-2'}}</td>
                                <td>{{m.price | number : '1.2-2'}}</td>
                                <td [ngClass]="{'tbl-green' : m.change >= 0, 'tbl-span': m.change < 0}">
                                  {{m.change}}
                                  <span [ngClass]="{'up' : m.change >= 0, 'down': m.change < 0}"></span>
                                </td>
                                <td [ngClass]="{'tbl-green' : m.changePercent >= 0, 'tbl-span': m.changePercent < 0}">
                                  {{m.changePercent}}%
                                  <span [ngClass]="{'up' : m.changePercent >= 0, 'down': m.changePercent < 0}"></span>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 pr-0">
          <div class="dash-box-white">
            <div class="dash-info-bx mb-3" *ngIf="information_firstname">
              <h1>Information</h1>
              <div class="dash-box-list-top dash-box-list-info">
                <h4>{{information_firstname}} {{information_lastname}}</h4>
                <ul class="">
                  <li class="d-flex align-items-center mb-2">
                    <img src="assets/images/icon/msg-icon.svg" alt=""/>
                    <span><a href="mailto:{{information_email}}">{{information_email}}</a></span>
                  </li>
                  <li class="d-flex align-items-center mb-2">
                    <img src="assets/images/icon/phone-cell-icon.svg" alt=""/>
                    <span><a href="tel:{{information_mobileno}}">{{information_mobileno}}</a></span>
                  </li>
                </ul>
                <div class="mt-3">
                  <a href="https://wa.me/{{information_mobileno}}" class="mr-2" target="_blank">
                    <img src="assets/images/icon/wp-icon.svg" alt=""/>
                  </a>
                </div>
              </div>
            </div>
            <div class="dash-info-bx">
              <h1>Customer Care</h1>
              <div class="dash-box-list-top dash-box-list-info">
                <ul class="dash-bx-list">
                  <li class="mb-2">
                    <a routerLink="javascript:void(0)" class="d-inline-flex align-items-center">
                      <img src="assets/images/icon/list-type2.svg" alt=""/>
                      Book Appointment
                    </a>
                  </li>
                  <li class="mb-2">
                    <a routerLink="javascript:void(0)" class="d-inline-flex align-items-center">
                      <img src="assets/images/icon/list-type2.svg" alt=""/>
                      Event Calendar
                    </a>
                  </li>
                  <li class="mb-2">
                    <a routerLink="javascript:void(0)" class="d-inline-flex align-items-center">
                      <img src="assets/images/icon/list-type2.svg" alt=""/>
                      Concierge Services
                    </a>
                  </li>
                  <li class="mb-2">
                    <a routerLink="/faq" class="d-inline-flex align-items-center">
                      <img src="assets/images/icon/list-type2.svg" alt=""/>
                      FAQs
                    </a>
                  </li>
                  <li class="mb-2">
                    <a routerLink="/contact-us" class="d-inline-flex align-items-center">
                      <img src="assets/images/icon/list-type2.svg" alt=""/>
                      Contact
                    </a>
                  </li>
                  <li class="mb-2">
                    <a href="https://www.gia.edu/report-check-landing" class="d-inline-flex align-items-center">
                      <img src="assets/images/icon/list-type2.svg" alt=""/>
                      GIA Report Check
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay toggle-icon-main"></div>
  </main>
</div>
